.btn
  padding: 0 15px
  height: 48px
  line-height: 46px
  border: 1px solid $colorRed
  color: $colorRed
  font-family: $fontHarmonia
  font-weight: bold
  font-size: 1.28rem
  border-radius: 3px
  text-align: center
