.carousel-arrows
  position: absolute
  z-index: 5
  padding: 0 25px
  left: -16.66%
  right: -16.66%
  top: 50%
  transform: translateY(-50%)
  height: 0
  font-size: 0

  .prev
    float: left
  .next
    float: right

  svg
    width: 33px
    height: 16px
    fill: $colorLightgrayText

  button
    margin: 0
    padding: 0
    border: none
    background: transparent
    box-shadow: none

  &_white
    svg
      fill: rgba(255,255,255,.5)
    button:hover svg
      fill: #fff


+r(1440)
  .carousel-arrows
    
+r(1024)
  .carousel-arrows
    display: none
