$carouselTransition: .5s linear
$carouselTransitionSlow: 1s ease-in-out
$carouselTransitionFast: .5s ease-in-out
// cubic-bezier(0.68, -0.55, 0.265, 1.55)
.carousel
  position: relative
  &__slides
    position: relative
    height: 100%
    width: 100%
    overflow: hidden
  &__slide
    width: 100%
    display: none
    position: absolute
    z-index: -1
    left: 0
    top: 0
    visibility: hidden
    will-change: transform
    .carousel
      display: none
    &_active
      position: relative
      display: block
      z-index: 2
      visibility: visible
      .carousel
        display: block
    &_new
      display: block
      z-index: 3
      will-change: transform
      visibility: visible
      .carousel
        display: block
    &_old-left
      z-index: 2
      animation: moveLeft $carouselTransition
    &_old-right
      z-index: 2
      animation: moveRight $carouselTransition
    &_new-left
      z-index: 3
      animation: moveFromLeft $carouselTransition
    &_new-right
      z-index: 3
      animation: moveFromRight $carouselTransition

  &_fade-effect &__slide
    will-change: opacity
    &_old-left
      animation: hide $carouselTransitionSlow
    &_old-right
      animation: hide $carouselTransitionSlow
    &_new-left
      animation: show $carouselTransitionSlow
    &_new-right
      animation: show $carouselTransitionSlow

  &_zoom-effect
    overflow: visible
  &_zoom-effect &__slide
    will-change: transform, opacity
    &_old-left
      animation: zoomOutBottom $carouselTransitionFast
    &_old-right
      animation: zoomOutTop $carouselTransitionFast
    &_new-left
      animation: zoomInBottom $carouselTransitionFast
    &_new-right
      animation: zoomInTop $carouselTransitionFast


@keyframes moveLeft
  0%
    transform: translate3d(0,0,0)
  30%
    transform: translate3d(0,0,0)
  100%
    transform: translate3d(-100%,0,0)

@keyframes moveRight
  0%
    transform: translate3d(0,0,0)
  30%
    transform: translate3d(0,0,0)
  100%
    transform: translate3d(100%,0,0)

@keyframes moveFromRight
  0%
    transform: translate3d(100%,0,0)
  30%
    transform: translate3d(100%,0,0)
  100%
    transform: translate3d(0,0,0)

@keyframes moveFromLeft
  0%
    transform: translate3d(-100%,0,0)
  30%
    transform: translate3d(-100%,0,0)
  100%
    transform: translate3d(0,0,0)

@keyframes hide
  0%
    opacity: 1
  100%
    opacity: 1

@keyframes show
  0%
    opacity: 0
    transform: scale(1.2)
  100%
    opacity: 1
    transform: scale(1)


@keyframes zoomOutBottom
  0%
    opacity: 1
    transform: scale(1)
  100%
    opacity: 0
    transform: scale(0.5)

@keyframes zoomOutTop
  0%
    opacity: 1
    transform: scale(1)
  100%
    opacity: 0
    transform: scale(1.5)

@keyframes zoomInBottom
  0%
    opacity: 0
    transform: scale(.5)
  100%
    opacity: 1
    transform: scale(1)

@keyframes zoomInTop
  0%
    opacity: 0
    transform: scale(1.5)
  100%
    opacity: 1
    transform: scale(1)
