.certificate
  display: block
  max-width: 130px
  position: relative

  .ico
    position: absolute
    left: -25px
    top: -25px
    width: 90px
    height: 117px
    fill: #FAFAFA

  &__title, &__description
    position: relative
    z-index: 2
    display: block

  &__title
    line-height: 1.2

  &__description
    margin-top: 15px
    font-size: 0.92rem
    line-height: 1.15

+r(1024)
  .certificate
    max-width: 100%
    &__description
      display: none
    &__title
      font-size: 0.92rem
      font-family: $fontSFText
      font-weight: normal

    .ico
      width: 37px
      height: 49px
      left: -3px
      top: -35px
