.certificates
  margin-top: 140px

  &__list
    display: flex
    flex-wrap: wrap
    &:before, &:after
      display: none
  &__item
    flex-basis: 14.28%
    padding: 80px 25px 0 25px


+r(1440)
  .certificates
    &__item
      padding: 70px 0 0 65px
      flex-basis: 20%
+r(1024)
  .certificates
    margin-top: 65px
    &__list
      padding: 0 12.5%
    &__item
      padding: 60px 20px 0 0
      flex-basis: 25%
+r(768)
  .certificates
    margin-top: 65px
    &__list
      padding: 0 6.25%
+r(640)
  .certificates
    &__item
      flex-basis: 33.33%
+r(480)
  .certificates
    &__item
      flex-basis: 50%
