.checkbox
  position: relative
  display: inline-block
  width: 20px
  height: 20px
  border: 1px solid #000
  font-size: 0
  cursor: pointer
  user-select: none

  span
    position: absolute
    left: 1px
    right: 1px
    bottom: 1px
    top: 1px
    visibility: hidden
    opacity: 0
    transform: translate3d(-2px, 0, 0) scale(0.5)
    transition: all $transitionSpeed cubic-bezier(0.18, 0.89, 0.53, 2.24)
    &:before, &:after
      content: ''
      position: absolute
      left: 7px
      bottom: 3px
      background: $colorRed
      transform: rotate(-45deg)
      transform-origin: 0 100%
    &:before
      height: 3px
      width: 12px

    &:after
      height: 8px
      width: 3px



  input
    display: none

  input:checked + span
    visibility: visible
    opacity: 1
    transform: translate3d(0, 0, 0) scale(1)
