.compare
  &__measures
    margin-top: 50px
  &__table
    margin-top: 35px

+r(1440)
  .compare
    &__measures
      margin-top: 20px
+r(1024)
  .compare
    padding: 45px
+r(768)
  .compare
    padding: 40px 15px 15px 15px
    &__measures
      margin-top: 15px
    &__table
      margin-top: 30px
    &__table-wrap
      margin: 0 -15px
      padding-left: 15px
      overflow: auto
