.compare-table
  width: 100%

  //background: yellow
  td
    padding: 8px 5px
    text-align: center
    vertical-align: middle
    border-bottom: 1px solid #F0F0F0
  td:first-child
    max-width: 300px
    padding-left: 0
    color: $colorGrayText
    font-size: 1.07rem
    font-family: $fontSFText
    text-align: left
  tr

  tr:first-child td:first-child
    font-size: 0.92rem
  .tt
    display: inline-block
    width: 100%
    &__measure
      padding: 15px 0
      width: 100%



+r(1440)
  .compare-table
    td:first-child
      width: 250px

+r(1024)
  .compare-table
    td:first-child
      width: 200px
      font-size: 0.85rem
    tr:first-child td:first-child
      font-size: 0
    .tt__container
      display: none
+r(768)
  .compare-table
    min-width: 700px
    .title
      font-size: 1.14rem
