.docs
  &__title
    position: relative
    &-text
      position: relative
      z-index: 2
      line-height: 1.1
    .ico-file
      position: absolute
      left: -25px
      top: -40px
      width: 90px
      height: 115px
      fill: #FAFAFA

  &__content-wrap
    display: flex
    margin-top: 50px
    flex-direction: row-reverse

  &__workers-wrap
    flex-basis: 250px
    width: 250px
  &__workers
    font-size: 0
    li
      margin-top: 40px
      width: 250px
    .worker
      width: 100%
      &__name
        margin-top: 0
  &__main
    padding-right: 90px

  &__section
    padding: 30px 0
    border-top: 1px solid $colorLightgrayText
    &:first-child
      padding-top: 0
      border-top: none
    .title
      margin-bottom: 30px

  &__links-wrap
    display: flex
    margin: 0 -45px

  &__links
    flex-basis: 50%
    li
      margin-top: 15px
      padding: 0 45px
      &:first-child
        margin-top: 0

+r(1440)
  .docs
    &__content-wrap
      display: block
    &__main
      padding-right: 0
    &__workers-wrap
      width: 100%
    &__workers
      li
        display: inline-block
        vertical-align: top
        margin-top: 20px
        width: 320px
        padding-right: 60px
      .worker
        width: 100%
    &__section
      &:first-child
        padding-top: 30px
        margin-top: 30px
        border-top: 1px solid $colorLightgrayText
    &__links-wrap
      margin: 0 -30px
    &__links
      li
        padding: 0 30px
+r(1024)
  .docs
    padding-top: 40px
    &__content-wrap
      margin-top: 45px
    &__workers
      li
        margin-top: 25px
        width: 50%
        padding-right: 45px
    &__section
      .title
        margin-bottom: 25px

    &__links-wrap
      margin: 0
      display: block
    &__links
      li
        padding: 0
+r(768)
  .docs
    padding-top: 0
    &__content-wrap
      margin-top: 30px
    &__title .ico-file
      display: none
    &__workers-wrap
      max-width: 320px
    &__workers
      li
        display: block
        margin-top: 30px
        width: 100%
        padding-right: 0
        &:first-child
          margin-top: 20px
    &__section
      .title
        margin-bottom: 15px
