.footer
  padding: 40px 0
  background: $footerBgc
  color: $footerColor

  a
    color: #fff

  &__top, &__bottom
    display: flex
    justify-content: space-between
    align-items: center
  &__menu, &__contacts
    font-size: 0
    li
      display: inline-block
      vertical-align: middle
      margin-left: 40px
      font-size: 1.07rem
      font-weight: bold
      line-height: 1.2em
      &:first-child
        margin-left: 0
  &__contacts a
    color: $colorOrange
  &__bottom
    margin-top: 40px
  &__info
    font-size: 0
    li
      display: inline-block
      vertical-align: middle
      margin-left: 30px
      font-size: 0.92rem
      line-height: 2em
      &:first-child
        margin-left: 0

    a, button
      color: $footerColor


+r(1440)
  .footer
    padding: 35px 0
    &__contacts
      li
        display: block
        margin: 0
    .hidden-md
      display: none
    &__top
      align-items: flex-start
    &__bottom
      margin-top: 20px
+r(1024)
  .footer
    &__top, &__bottom
      display: block
    &__contacts, &__menu, &__info
      li
        display: inline-block
        margin-left: 25px
    &__contacts
      margin-top: 25px
    &__top
      align-items: flex-start
    &__bottom
      margin-top: 30px
      padding-top: 20px
      border-top: 1px solid #3B3B3B
    &__developer
      margin-top: 15px
+r(768)
  .footer
    padding: 40px 0 25px 0
    .container
      padding: 0 12.5%
    &__top, &__bottom
      display: block
    &__contacts, &__menu, &__info
      li
        display: block
        margin: 15px 0 0 0
        &:first-child
          margin-top: 0
    &__info
      li
        margin-top: 5px
    &__contacts
      margin-top: 70px
    &__top
      align-items: flex-start
    &__bottom
      margin-top: 25px
      padding-top: 25px
    &__developer
      margin-top: 30px
