.form
  position: relative
  &__submit
    margin-top: 100px
    font-size: 2.28rem
  &__submit-sm
    margin-top: 35px
    padding: 0 25px
    font-size: 1.42rem
  &__field
    margin-top: 30px
    &:first-child
      margin-top: 0
  &__checkbox
    display: flex

    label
      padding-left: 10px
      display: inline-block
      vertical-align: middle
    .checkbox
      flex-shrink: 0
      flex-basis: 20px
      width: 20px
      margin-top: -2px
  &__result
    position: absolute
    z-index: 2
    left: -50px
    right: -50px
    top: -10px
    bottom: -10px
    background: #fff
    display: none
    align-items: center
    justify-content: space-around

    &.active
      display: flex

+r(1024)
  .form
    &__result
      left: -10px
      right: -10px
      top: -10px
      bottom: -10px
