.header
  position: relative
  z-index: 10
  background: $headerBgc
  color: $headerColor
  button
    color: inherit
  &__video
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    overflow: hidden
    .bgvideo
      position: absolute
      left: 0
      right: 0
      min-width: 100%
      min-height: 100%
      width: auto
      height: auto
    &:after
      content: ''
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      background: rgba(11,5,0,.7)
  &__main
    padding-top: 50px
    padding-bottom: 50px
    min-height: 735px
    display: flex
    align-items: center
    justify-content: space-around
    flex-direction: column
    &:before, &:after
      display: none
    &-content
      width: 100%
      display: flex
      justify-content: space-between
      align-items: flex-end
  &__title
    color: $colorRed
  &__subtitle
    margin-top: 25px
    max-width: 540px
    line-height: 1.3em
  &__links
    margin-top: 120px
    font-size: 0
    li
      padding-top: 20px
      display: inline-block
      vertical-align: middle
      padding-right: 40px
      line-height: 1.2em
      &:last-child
        padding-right: 0
  &__play
    display: inline-block
    position: relative
    line-height: 1.2em
    .ico
      position: absolute
      left: -20px
      top: -40px
      width: 70px
      height: 70px
      fill: $colorRed
  &__play-description
    margin-top: 15px
    font-size: 1.14rem
    line-height: 1.35em


+r(1440)
  .header
    &__main
      padding-top: 100px
      padding-bottom: 120px
      min-height: 545px
    &__links
      margin-top: 45px
      li
        padding-top: 15px
    &__play-wrap
      position: relative
      top: 63px
    &__subtitle
      max-width: 320px


+r(1024)
  .header
    position: relative
    &__menu
      position: absolute
      z-index: 2
      left: 0
      right: 0
      top: 25px
    &__main
      min-height: 100vh
      padding-top: 150px
      padding-bottom: 80px
    &__play-wrap
      display: none
    &__title
      max-width: 230px
      font-size: 3.57rem
    &__links
      margin-top: 30px
      li
        padding-top: 10px
        padding-right: 15px

+r(768)
  .header
    &__main
      padding-top: 100px
      padding-bottom: 0
      justify-content: flex-end
      align-items: flex-end
    &__subtitle
      margin-top: 15px
    &__links
      margin-top: 23px
      padding-bottom: 25px
