@media screen and (min-width: 1441px)
  .hidden-lg
    display: none
@media screen and (max-width: 1440px) and (min-width: 1025px)
  .hidden-md
    display: none
@media screen and (max-width: 1024px) and (min-width: 769px)
  .hidden-sm
    display: none
@media screen and (max-width: 768px)
  .hidden-xs
    display: none
