.history-slide

  &__wrap
    display: flex
    justify-content: space-between

  &__year
    position: absolute
    left: -90px
    top: 0
    font-size: 7.14rem
    font-weight: bold
    line-height: 0.8
    color: #E6E6E6

  &__text
    position: relative
    flex-basis: 50%
    padding-top: 55px
    padding-right: 90px

    .text
      position: relative
      z-index: 2

  &__img
    flex-basis: 50%
    height: 400px
    position: relative
    overflow: hidden
    font-size: 0

    img
      display: inline-block
      min-width: 100%
      min-height: 100%


+r(1440)
  .history-slide
    &__year
      font-size: 5.71rem
      left: -60px
    &__text
      padding-top: 37px
      padding-right: 60px
    &__img
      height: 275px

+r(1024)
  .history-slide
    &__year
      position: relative
      top: auto
      left: auto
      font-size: 4.28rem
    &__text
      padding-top: 0
      padding-right: 45px
      .text
        margin-top: 10px
    &__img
      height: 210px

+r(768)
  .history-slide
    &__wrap
      display: block
    &__year
      font-size: 4.28rem
    &__text
      padding: 0
      .text
        max-width: 520px
    &__img
      margin: 25px -8.33% 0 -8.33%
      height: 230px
