.history
  padding: 130px 0 95px 0

  &__pagination
    position: relative
    z-index: 5
    margin-top: 40px
    padding-bottom: 5px
    display: flex
    justify-content: space-between
    font-size: 0
    overflow-x: auto
    white-space: nowrap

    ul
      display: flex
      justify-content: flex-start
      padding-left: 30px
      &:first-child
        padding-left: 0

    li
      display: inline-block
      vertical-align: middle
      padding-left: 30px
      &:first-child
        padding-left: 0

  &__pagination-container
    position: relative

  &__slider-container
    margin-top: 40px
    padding: 0

    .carousel-arrows
      top: 190px

    .carousel__slides
      overflow: visible


+r(1440)
  .history
    padding-bottom: 70px
    &__pagination
      margin-top: 35px
      ul
        padding-right: 30px
        &:first-child
          padding: 0 0 0 30px
    &__pagination-container
      width: 100%
      padding: 0

    &__future
      position: absolute
      left: 50%
      margin-left: 412px
      transform: translateX(-100%)

    &__slider-container
      .carousel-arrows
        top: 130px


+r(1024)
  .history
    padding: 95px 0 85px 0
    &__pagination
      margin-top: 20px
    &__slider-container
      margin-top: 25px
    &__future
      position: relative
      left: auto
      margin-left: 0
      transform: translateX(0)

+r(768)
  .history
    padding: 80px 0 0 0
    &__pagination
      padding-top: 25px
    &__slider-container
      margin-top: 20px
