.inaccuracy
  padding:  150px 0 230px 0
  background: $headerBgc
  color: $headerColor
  background: url(../img/inaccuracy.jpg) no-repeat center
  background-size: cover
  font-size: 1.4rem

  a
    color: $headerColor
  &__text
    max-width: 665px
    margin-top: 40px
  &__list
    max-width: 665px
    margin-top: 25px
  &__presentation
    display: inline-block
    position: relative
    line-height: 1.2em
    text-align: left
    .ico
      position: absolute
      left: -75px
      top: -50px
      width: 126px
      height: 108px
      fill: $colorRed

  &__btn-wrap
    display: block
    margin-top: -30px
    text-align: right
    &:before, &:after
      content: ''
      display: block
      clear: both

+r(1440)
  .inaccuracy
    padding: 100px 0
    &__text
      margin-top: 30px
    &__list
      margin-top: 20px
    &__text, &__list
      max-width: 500px
    &__presentation
      .ico
        height: 70px
        width: 80px
        top: -33px
        left: -50px
    &__btn-wrap
      margin-top: -5px
+r(1024)
  .inaccuracy
    padding: 80px 0 50px 0
    &__text
      margin-top: 25px
    &__list
      max-width: 340px
    &__btn-wrap
      margin-top: 20px
+r(768)
  .inaccuracy
    padding: 50px 0 35px 0
    &__text, &__list
      margin-top: 15px
      max-width: 100%
    &__btn-wrap
      margin-top: 85px
