.input
  padding: 12px 0
  width: 100%
  border: none
  box-shadow: none
  border-bottom: 1px solid #000
  font-size: 1.28rem
  font-family: $fontSFText

  &::-webkit-input-placeholder
    color: $colorLightgrayText
  &::-moz-placeholder
    color: $colorLightgrayText
  &:-moz-placeholder
    color: $colorLightgrayText
  &:-ms-input-placeholder
    color: $colorLightgrayText
