.language
  font-size: 0
  li
    display: inline-block
    vertical-align: middle
    margin-left: 20px
    font-weight: medium
    &:first-child
      margin-left: 0

  button
    color: #fff
    border-bottom: 1px solid rgba(255,255,255,.5)
    transition: $transitionFast $easeDefault
    &:hover
      border-color: transparent
    &.active
      border-bottom-color: transparent
      opacity: 0.5


  &_sm
    display: inline-block
    border: 1px solid $colorLightgrayText
    border-radius: 3px
    font-size: 0
    li
      display: inline-block
      margin: 0
      border-left: 1px solid $colorLightgrayText
      &:first-child
        border-left: none

    button
      display: inline-block
      padding: 8px 18px 8px 14px
      color: #8A8A8A
      font-size: 1rem
      &.active
        background: #E6E6E6
        color: #B3B3B3
