.link
  color: $colorOrange
  display: inline-block
  cursor: pointer
  &__text
    position: relative
    z-index: 2
    border-bottom: 1px solid rgba(229,144,87,.3)
    transition: $transitionFast $easeDefault
    line-height: 1
  &__sm-text
    display: block
    margin-bottom: 10px
    font-size: 0.92rem
    line-height: 1
    font-family: $fontSFText
    transition: $transitionFast $easeDefault
  &:hover
    color: $colorOrange
  &:hover &__text
      border-color: transparent


  &_white &__text
    color: #fff
    border-color: rgba(255,255,255,.3)
    &:hover
      color: #fff
  &_white:hover &__text
      border-color: transparent

  &_order &__text
    display: inline
    color: $colorRed
    border-color: $colorRed
    &:hover
      color: $colorRed
  &_order:hover &__text
    border-color: transparent
  &_order .ico
    display: inline-block
    vertical-align: middle
    margin-top: -13px
    margin-right: 5px
    fill: $colorRed
    height: 25px
    width: 31px

  &_lg &__text
    font-size: 1.78rem
    font-weight: bold

  &.active
    color: #000
  &.active &__text
    border-bottom: 2px solid #000

  &_large &__text
    font-size: 1.42rem
    font-weight: bold

  &_xl &__text
    font-size: 2.28rem
    font-weight: bold

  &_submit
    position: relative
    padding: 0
    background: transparent
    border: none
    box-shadow: none
    &:before
      content: ''
      position: absolute
      left: 5px
      bottom: -20px
      width: 30px
      height: 60px
      background: $iconGray
      transform: rotate(-45deg)
      transform-origin: 0 100%
      transition: all 0.2s
    &:after
      content: ''
      position: absolute
      left: 5px
      bottom: -20px
      height: 30px
      width: 100px
      background: $iconGray
      transform: rotate(-45deg)
      transform-origin: 0 100%
      transition: all 0.2s
    &:hover:after, &:hover:before
      background: $iconDarkgray
  &_submit &__text
    border-bottom-width: 2px

  &_red
    color: $colorRed
    &:hover
      color: $colorRed
  &_red &__text
    border-color: $colorRed

a:hover .link__text
  border-color: transparent


+r(1024)
  .link
    &_order
      height: 46px
      line-height: 46px
      text-align: center
      padding: 0 30px
      border: 1px solid $colorRed
      border-radius: 4px
      .ico
        display: none
    &_order &__text
      border: none
