.map
  .ico-map
    width: 870px
    height: 705px


  &__container
    min-height: 1000px
    padding-top: 150px
    padding-bottom: 132px
    position: relative
  &__picture
    position: absolute
    right: 6.25%
    bottom: 50px
    svg
      width: 870px
      height: auto
  &__title
    position: relative
    z-index: 2
    max-width: 520px
  &__text
    position: relative
    z-index: 2
    margin-top: 40px
    max-width: 400px
  &__countries
    position: relative
    z-index: 2
    margin-top: 70px
    .title
      line-height: 1.38
    &-list
      margin-top: 20px


+r(1440)
  .map
    &__container
      padding-top: 105px
      padding-bottom: 115px
      min-height: 800px
    &__title
      max-width: 100%
    &__text
      margin-top: 20px
      max-width: 520px
    &__countries
      margin-top: 50px
    &__picture
      bottom: 0
      svg
        width: 600px

+r(1024)
  .map
    &__container
      padding-top: 75px
      padding-bottom: 0px
      min-height: 525px
    &__title
      max-width: 350px
    &__text
      max-width: 430px
    &__countries
      margin-top: 45px
    &__picture
      bottom: auto
      margin-top: 10px
      tspan, text, .cls-17
        display: none
      svg
        width: 395px

+r(768)
  .map
    &__container
      padding-top: 45px
      min-height: 0
    &__countries
      margin-top: -60px
    &__picture
      position: relative
      top: 0
      right: 0
      margin-top: 20px
      svg
        width: 100%

+r(640)
  .map
    &__title
      max-width: 200px
    &__text
      max-width: 300px
