.markered-list
  li
    position: relative
    &:before
      content: ''
      position: absolute
      left: -37px
      top: 10px
      width: 20px
      height: 2px
      background: #fff


+r(1024)
  .markered-list
    li
      padding-left: 30px
      &:before
        left: 0
