.marker
  display: inline-block
  width: 12px
  height: 12px
  background: #709E0E
  border: 1px solid #689609

  &_8000
    background: #75A312
    border-color: #689110

  &_6000
    background: #88B029
    border-color: #80A626

  &_5500
    background: #88B029
    border-color: #80A626

  &_5000
    background: #9DBF50
    border-color: #93B34B

  &_2500
    background: #BBD287
    border-color: #A5BA78

  &_500
    background: #D9EBB4
    border-color: #D1E3AE
