.material
  width: 100%
  &__img
    margin-top: 10px
    height: 120px
    width: 100%
    overflow: hidden
    font-size: 0

    img
      display: inline-block
      min-width: 100%
      min-height: 100%


+r(1440)
  .material
    &__img
      height: 90px
+r(768)
  .material
    &__img
      height: 155px
