.measure
  display: inline-block
  font-size: 0
  &:before, &:after, span
    content: ''
    display: inline-block
    vertical-align: middle
    width: 10px
    height: 4px
    margin-left: 2px
    background: #E6E6E6
  &:before
    margin-left: 0

  &_1:before
    background: $colorRed
  &_2:before, &_2 span
    background: $colorRed
  &_3:before, &_3 span, &_3:after
    background: $colorRed
