.measures
  &__column
    display: inline-block
    vertical-align: top
    width: 280px
  &__item
    margin-top: 5px
    width: 280px
    &:first-child
      margin-top: 0
  .measure
    margin-right: 10px
    vertical-align: middle

+r(768)
  .measures
    &__column
      display: block
      width: 100%
    &__item
      margin-top: 3px
