.menu-fixed
  position: fixed
  z-index: 1000
  left: 0
  top: -70px
  width: 100%
  height: 70px
  background: #fff
  transition: transform 0.3s
  will-change: transform
  display: flex
  align-items: center
  border-bottom: 1px solid rgba(0,0,0,.1)

  .menu
    width: 100%
    &__container
      height: auto
      align-items: center

    &__left, &__right
      transition: transform 0.3s, opacity 0.3s
      opacity: 0
      will-change: transform, opacity
    &__left
      transform: translate3d(-50px,0,0)
    &__right
      transform: translate3d(50px,0,0)

.menu-fixed.active
  transform: translate3d(0,100%,0)
  .menu
    &__left, &__right
      transform: translate3d(0,0,0)
      opacity: 1

+r(1440)
  .menu-fixed
    height: 50px
    top: -50px
    .menu
      &__right
        li
          margin-left: 22px


+r(1024)
  .menu-fixed
    display: none
