.menu
  &__container
    height: 65px
    display: flex
    align-items: flex-end
    align-content: center
    justify-content: space-between
    &:before, &:after
      display: none
  &__right
    font-size: 0
    li
      display: inline-block
      vertical-align: middle
      margin-left: 30px
      &:first-child
        margin-left: 0

  &__links
    font-size: 0
    display: inline-block
    vertical-align: middle
    margin-left: 55px

    li
      display: inline-block
      vertical-align: middle
      margin-left: 45px
      font-size: 1rem

      &:first-child
        margin-left: 0

  .ico-download
    vertical-align: middle
    margin-top: -2px
    margin-right: 5px
    height: 1rem

  &__sm-phone
    font-size: 1.28rem

  &__sm-right
    padding-right: 35px


+r(1440)
  .menu
    &__links
      margin-left: 30px
      li
        margin-left: 30px

    .ico-download
      margin-right: 2px
      height: 0.8rem

+r(1024)
  .menu
    &__container
      height: auto


+r(768)
  .menu
    &__sm-right
      padding-right: 35px
