.modal-close
  display: inline-block
  position: absolute
  z-index: 1001
  top: 50px
  right: 45px
  padding: 45px 40px 0 0
  text-align: right
  cursor: pointer
  user-select: none
  background: transparent
  border: none
  box-shadow: none
  transition: transform 0.2s

  &:hover
    &:before, &:after
      background: $iconDarkgray

  &:active
    transform: scale(.8)

  &:before, &:after
    content: ''
    position: absolute
    right: 0
    top: 0
    width: 30px
    height: 120px
    background: $iconGray
    transform-origin: 50% 50%
    transition: background 0.2s
  &:before
    transform: rotate(45deg) translate3d(-31px, 22px, 0)
  &:after
    transform: rotate(-45deg) translate3d(-22px, -31px, 0)

  .text
    margin-top: 15px

  .title, .text
    position: relative
    z-index: 2


  &_sm
    right: 10px
    top: 90px
    padding: 0
    width: 50px
    height: 50px
    &:before, &:after
      width: 25px
      height: 3px
      left: 50%
      top: 50%
      margin-left: -12.5px
      margin-top: -1.5px
      transform: rotate(-45deg)
      background: #fff
    &:after
      transform: rotate(45deg)
    &:hover:before, &:hover:after
      background: #fff

+r(1440)
  .modal-close
    &_sm
      top: 70px

+r(1024)
  .modal-close, .modal-close_sm
    position: absolute
    right: 20px
    top: 20px
    padding: 0
    width: 18px
    height: 18px
    &:before, &:after
      content: ''
      position: absolute
      top: 50%
      left: 2px
      right: 2px
      width: 14px
      height: 4px
      margin-left: 0
      margin-top: -2px
      background: #000
    &:before
      transform: rotate(-45deg)
    &:after
      transform: rotate(45deg)
    &:hover
      &:before, &:after
        background: #000

    &_light, &_light:hover
      &:before, &:after
        background: #fff

    .text, .title
      display: none
