$modalTransition: .25s ease-in-out
//cubic-bezier(0.68, -0.55, 0.265, 1.55)
.modal
  position: fixed
  display: none
  z-index: 1001
  left: 0
  top: 0
  width: 100%
  height: 100%
  background: #fff
  overflow-y: auto

  &_large
    z-index: 1002

  &_active
    display: block
    will-change: transform, opacity


  &_show
    will-change: transform, opacity
    animation: showModal $modalTransition
  &_hide
    will-change: transform, opacity
    animation: hideModal $modalTransition

  &_default
    padding: 100px 0

  &_with-top-line
    z-index: 999

  &__content
    //height: 100%
    position: relative
    z-index: 1

  &_sm &__content
    height: 100%

  &_tooltip
    padding: 15px
    background: transparent
  &_active.modal_tooltip
    display: flex
    align-items: center
    justify-content: space-around

  &__backdrop
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: rgba(255,255,255,.7)

  &_text
    .title
      margin-top: 30px
      margin-bottom: 15px
      &:first-child
        margin-top: 0
        margin-bottom: 50px

+rmin(1025)
  .modal_products.modal_sm, .modal_products.modal_active.modal_sm
    position: static
    overflow: visible
    display: block
    animation: none
    .modal-close
      display: none



@keyframes showModal
  0%
    opacity: 0.5
    transform: scale(1.5)
  100%
    opacity: 1
    transform: scale(1)
@keyframes hideModal
  0%
    opacity: 1
    transform: scale(1)
  100%
    opacity: 0
    transform: scale(1.5)

+rmin(1025)
  .modal_sm, .modal_active.modal_sm
    display: none

+r(1024)
  .modal
    &_default
      padding: 50px 0
