.modal-tooltip
  position: relative
  max-width: 480px
  padding: 25px 35px 45px 25px
  z-index: 2
  background: $tooltipBgc
  color: $tooltipColor

  .text
    margin-top: 10px

  .modal-close
    right: 15px
    top: 15px
    padding: 0
    width: 18px
    height: 18px
    &:before, &:after
      content: ''
      position: absolute
      top: 50%
      left: 2px
      right: 2px
      width: 14px
      height: 4px
      margin-left: 0
      margin-top: -2px
      background: $tooltipColor
    &:before
      transform: rotate(-45deg)
    &:after
      transform: rotate(45deg)
