.order-section
  &__tabs-nav
    font-size: 0
    li
      display: inline-block
      vertical-align: top
      margin-left: 50px
      &:first-child
        margin-left: 0

  &__form
    margin-top: 85px

  &__form-content
    display: flex
    justify-content: space-between
    align-items: flex-end

  &__form-left
    width: 450px
  &__form-right
    width: 380px

  &__container
    position: relative

  &__title
    font-size: 1.57rem




+r(1440)
  .order-section
    &__form
      margin-top: 65px
    &__form-left
      width: 380px
    &__form-right
      width: 270px

+r(1024)
  .order-section
    &__tabs-nav
      display: inline-block
      margin-top: 15px
      border: 1px solid $colorLightgrayText
      border-radius: 4px
      li
        border-left: 1px solid $colorLightgrayText
        margin: 0
        &:first-child
          border: none
      .link
        padding: 15px 25px
        &__text
          border: none
        &__sm-text
          margin-bottom: 5px
        &.active
          background: #E6E6E6
        &.active .link__text
          border: none
    &__form
      margin-top: 40px
      max-width: 290px
    &__form-content
      display: block
    &__form-left
      width: 100%
    &__form-right
      margin-top: 45px
      width: 100%

+r(768)
  .order-section
    &__title
      font-size: 1.57rem
    &__tabs-nav
      .link
        padding: 10px 20px
        &__text
          font-size: 1.42rem
        &__sm-text
          margin-bottom: 3px
    &__form-right
      margin-top: 55px
