.other-materials
  &__title
    max-width: 460px
  &__contacts
    margin-top: 30px
    line-height: 1.1
  &__text
    margin-top: 25px
  &__list
    margin-top: 30px
    font-size: 0
    display: flex
    flex-wrap: wrap
    li
      padding-right: 45px
      flex-basis: 25%
      width: 25%


+r(1440)
  .other-materials
    &__contacts
      margin-top: 30px
    &__text
      margin-top: 20px
    &__list
      margin-top: 50px
+r(1024)
  .other-materials
    padding: 85px 45px 45px 45px
    &__contacts
      margin-top: 20px
    &__list
      margin-top: 50px
      li
        padding-right: 20px
+r(768)
  .other-materials
    padding: 40px 15px 15px 15px
    &__contacts
      font-size: 1.64rem
    &__list
      margin-top: 5px
      display: block
      li
        display: block
        width: 100%
        padding: 30px 0 0 0
