.owl
  &-nav
    position: absolute
    top: 370px
    margin-top: -8px
    left: 0
    right: 0
    height: 0

    svg
      width: 30px
      height: 16px
      .cls-1
        fill: #ccc
  &-prev
    float: left
    margin-left: 25px
  &-next
    float: right
    margin-right: 25px

.owl-stage
  will-change: transform

.owl-presentation
  .owl
    &-nav
      top: 50%

      svg .cls-1
        fill: rgba(255,255,255,.5)

    &-prev:hover svg .cls-1,
    &-next:hover svg .cls-1
        fill: #fff

.owl-arrows-center
  .owl
    &-nav
      top: 50%
