.photo-slider
  .slide
    overflow: hidden
  img
    min-width: 100%
    min-height: 100%

  .slick-dots
    position: absolute
    bottom: 15px
    left: 0
    right: 0
    text-align: center
    font-size: 0
    li
      display: inline-block
      vertical-align: middle
      margin-left: 10px
      &:first-child
        margin-left: 0
    button
      width: 48px
      height: 3px
      border: none
      background: rgba(255,255,255,.5)
      position: relative
      overflow: hidden
      &:after
        content: ''
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        background: #fff
        opacity: 0

    .slick-active button:after
      animation: slick-dots-animation 4s
      animation-timing-function:  linear


@keyframes slick-dots-animation
  0%
    opacity: 0
    transform: none
  10%
    opacity: 1
  100%
    opacity: 1
    transform: translate3d(100%,0,0)
