.presentation-slider
  z-index: 1
  height: 100%
  position: relative

  .carousel-arrows
    position: absolute
    top: 50%
    left: 25px
    right: 25px

  .carousel__slides,
  .carousel__slide
    height: 100%
    width: 100%

  &>.carousel__slides>.carousel__slide
    &_old-left
      animation: moveLeft 1s
    &_old-right
      animation: moveRight 1s
    &_new-left
      animation: moveFromLeft 1s
    &_new-right
      animation: moveFromRight 1s

  .img-fill
    width: 100%
    height: 100%


+r(1024)
  .presentation-slider
    position: static
    height: 100%
    overflow: auto
    .carousel-arrows
      display: none
    &>.carousel__slides
      position: static
      height: auto
      &>.carousel__slide
        position: static
        display: block
        height: auto
        visibility: visible
