.presentation-slider-nav
  position: absolute
  z-index: 2
  left: 0
  right: 0
  bottom: 0
  background: #fff
  &__container
    height: 70px
    display: flex
    align-items: center

  ul
    font-size: 0
    li
      margin-left: 40px
      display: inline-block
      vertical-align: middle
      &:first-child
        margin-left: 0

  a:hover
    color: #000

  .active, .active:hover, .active:focus
    color: $colorRed

+r(1440)
  .presentation-slider-nav
    &__container
      height: 50px

+r(1024)
  .presentation-slider-nav
    display: none
