.presentation-slide
  width: 100%
  height: 100%
  color: #fff
  overflow: hidden
  font-size: 0

  &:after
    content: ''
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    background: rgba(0,0,0,.5)
    z-index: 10

  &_dark-text
    color: #000
    .slideshow-link
      .ico-slideshow
        fill: #000

  &__background
    position: absolute
    left: 0
    right: 0
    width: 100%
    height: 100%
    overflow: hidden

    img
      display: inline-block
      min-width: 100%
      min-height: 100%

  &__container
    height: 100%
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    z-index: 11
    padding-top: 165px
    padding-bottom: 165px
    display: flex
    flex-direction: column
    justify-content: space-between
    &:before
      display: none
    &:after
      display: none

  &__top
    max-width: 550px

  &__text
    margin-top: 30px

  &__list
    display: flex
    font-size: 0
    .js-pagination
      display: block
    li
      display: inline-block
      vertical-align: top
      padding-right: 55px
      &:last-child
        padding-right: 55px


+r(1440)
  .presentation-slide
    &__top
      max-width: 380px
+r(1024)
  .presentation-slide
    height: auto
    color: #444
    &:after
      display: none
    &__top
      max-width: 460px
    &__container
      position: static
      height: auto
      display: block
      padding: 45px 6.25% 75px 6.25%
    &__background, .img-fill
      position: relative
      z-index: 1
      display: block
      height: 480px
      width: 100%
    &__list
      margin-top: 50px
      &.js-pagination
        margin: 0
        position: absolute
        top: 360px
        z-index: 10
    .carousel
      display: block
    .markered-list
      margin-top: 25px
      li
        margin-top: 15px
        &:first-child
          margin-top: 0
        &:before
          background: #444

  .carousel__slide:last-child .presentation-slide__container
    padding-bottom: 40px
+r(768)
  .presentation-slide
    &__container
      padding: 35px 6.25% 55px 6.25%
    &__background, .img-fill
      height: 200px
    &__text
      margin-top: 10px
    &__list
      margin-top: 0
      display: block
      li
        display: block
        margin-top: 20px
      &.js-pagination
        top: 180px
        left: 0
        right: 0
        text-align: center
        li
          display: inline-block
          margin-top: 0
          padding-right: 8px
        svg
          display: none
        .slideshow-link
          width: 45px
  .carousel__slide:last-child .presentation-slide__container
    padding-bottom: 15px
