.product-slide
  &__top, &__bottom
    display: flex
    justify-content: space-between
  &__bottom
    align-items: flex-end
  &__left, &__right
    flex-basis: 50%
    width: 50%
  &__left
    padding-right: 90px
  &__subtitle
    margin-top: 10px
  &__text
    margin-top: 55px
  &__order
    margin-top: 90px
    padding-bottom: 3px

  &__photos
    overflow: hidden
    width: 100%
    height: 490px
    .slide
      height: 490px
      width: 100%
      overflow: hidden
      font-size: 0
      img
        display: inline-block
        min-width: 100%
        min-height: 100%

+r(1440)
  .product-slide
    &__left
      padding-right: 65px
    &__title
      font-size: 2.14rem
    &__text
      margin-top: 30px
    &__order
      margin-top: 70px
    &__photos
      height: 350px
      .slide
        height: 350px

+r(1024)
  .product-slide
    height: 100vh
    overflow: auto
    &__top
      min-height: 100%
      align-items: center
      padding-right: 50%
      position: relative
    &__top &__right
      position: absolute
      right: 0
      top: 0
      bottom: 0
      width: 50%
    &__top &__left
      padding: 45px
      flex-basis: 100%
      width: 100%
    &__photos
      height: 100%
      .carousel__slides, .carousel__slide, .slide
        height: 100%
    &__text
      margin-top: 40px
    &__order
      margin-top: 85px
+r(768)
  .product-slide
    &__top
      min-height: 0
      align-items: flex-start
      flex-direction: column-reverse
      padding-right: 0
    &__top &__right
      position: relative
      width: 100%
      flex-basis: 100%
    &__top &__left
      padding: 35px 15px 15px 15px
      flex-basis: 100%
      width: 100%
    &__photos
      height: 230px
    &__text
      margin-top: 15px
      p
        margin: 0
      .link
        margin-top: 25px
    &__order
      margin-top: 25px
