.production-process
  padding-top: 30px
  &__container
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    &:before, &:after
      display: none

  &__left
    width: 66%
    flex-basis: 66%
    padding-right: 16%

  &__right
    width: 33%
    flex-basis: 33%


+r(1440)
  .production-process
    &__left
      padding-right: 8%

+r(1024)
  .production-process
    padding-top: 35px

+r(768)
  .production-process
    padding-top: 45px
    &__container
      display: block
    &__left
      margin-top: 15px
      padding-left: 0
      width: 100%
      max-width: 480px
    &__right
      padding-left: 0
      width: 100%
