.products-sizes
  &__table-section
    margin-top: 85px
  &__table
    margin: 25px -40px 0 -40px
  &__info
    margin-top: 10px
    max-width: 320px

+r(1440)
  .products-sizes
    &__table-section
      margin-top: 50px
    &__title
      margin-bottom: 85px
    &__table
      margin-top: 10px
+r(1024)
  .products-sizes
    &__table-section
      margin-top: 40px
    &__title
      margin-bottom: 60px
+r(768)
  .products-sizes
    &__table-section
      margin-top: 40px
    &__title
      margin-bottom: 55px
    &__table
      margin: 10px 0 0 0
