.products
  padding: 125px 0 150px 0

  &__header
    max-width: 725px

  &__title
    margin-bottom: 25px

  &__pagination
    margin-top: 85px
    font-size: 0
    position: relative
    li
      display: inline-block
      vertical-align: bottom
      padding-right: 30px
    .ico-compare
      width: 25px
      height: 14px
      position: relative
      bottom: 5px
    .last
      padding-right: 0
      position: absolute
      right: 0
      bottom: 0

  &__slider
    margin-top: 85px
    .carousel-arrows
      top: 235px
    .carousel__slides
      overflow: hidden

  &__footer
    margin-top: 150px
    display: flex
    justify-content: space-between
    align-items: flex-end
  &__footer-left, &__footer-right
    flex-basis: 50%
    width: 50%
  &__footer-left
    padding-right: 90px
    text-align: right
    height: auto
  &__footer-link
    margin-top: 35px
    padding-bottom: 5px


+r(1440)
  .products
    padding: 80px 0 100px 0
    &__header
      max-width: 500px
    &__title
      margin-bottom: 15px
    &__pagination
      margin-top: 45px
    &__slider
      margin-top: 45px
      .carousel-arrows
        top: 175px
    &__footer
      margin-top: 100px
    &__footer-left
      padding-right: 65px
    &__sizes-link
      margin-top: 20px
+r(1024)
  .products
    padding: 50px 0 132px 0
    &__header
      max-width: 100%
    &__title
      margin-bottom: 10px
    &__pagination
      margin-top: 0
      li
        margin-top: 25px
        padding-right: 20px
      .last
        position: relative
    &__slider
      margin: 0
      &>.carousel__slides>.carousel__slide
        &_old-left
          z-index: 2
          animation: moveLeft 0.0001s
        &_old-right
          z-index: 2
          animation: moveRight 0.0001s
        &_new-left
          z-index: 3
          animation: moveFromLeft 0.0001s
        &_new-right
          z-index: 3
          animation: moveFromRight 0.0001s

    .modal-sm
      display: none

    .link.active
      color: $colorOrange
      .link__text
        border-bottom: 1px solid rgba(229,144,87,.3)

    &__footer
      margin-top: 50px
      &-left
        padding-right: 0
      &-right
        padding-left: 45px
+r(768)
  .products
    padding: 40px 0 70px 0
    &__title
      margin-bottom: 15px
    &__pagination
      li
        display: block
        margin-top: 25px
        padding-right: 0
      .last
        margin-top: 35px
    &__footer
      display: block
    &__footer-left
      width: 100%
    &__footer-right
      margin-top: 35px
      width: 100%
      padding: 0
