.sizes-table
  width: 100%
  text-align: center
  vertical-align: middle
  font-family: $fontSFText
  font-size: 1.07rem
  border-collapse: collapse
  position: relative

  td
    position: relative
    border: 1px solid #D6D6D6
    cursor: default
    transition: all $transitionFast
    &:hover
      background: #FFDBA3
      .td-text
        visibility: visible
    &.active
      background: #FFEDCC
      &:hover
        background: #FFDBA3
  tr:first-child td, td:first-child
    border: none
    &:hover, &.active
      background: #fff
  td:first-child
    padding-right: 18px
    padding-left: 0
    width: 40px
    text-align: right

  .td-text
    padding: 5px
    display: inline-block
    visibility: hidden
    line-height: 1

  .tt
    position: absolute
    z-index: 2
    left: 0
    bottom: 0
    width: 100%
    padding: 5px
    text-align: center
    padding: 0
    display: none
    overflow: visible
    z-index: 3
    &__content
      position: absolute
      bottom: 0
      left: 50%
      transform: translateX(-50%)
      margin: 0
      min-width: 100%
      padding: 8px 14px
      line-height: 1.2
      text-align: center
      font-size: 1rem
      white-space: nowrap
      &:after
        left: 50%
        margin-left: -7px

  td.hover .tt
    display: block

  td.hover:first-child .tt
    display: block

  td:first-child
    .tt
      left: auto
      top: 50%
      height: 200px
      margin-top: -100px
      right: 0
      width: auto
      z-index: 2
      &__content
        position: absolute
        width: 100px
        left: auto
        right: 0
        top: 50%
        bottom: auto
        transform: translateY(-50%)
        white-space: normal
        &:after
          left: 100%
          margin-left: -1px
          top: 50%
          margin-top: -7px
          +arr(7,14, $tooltipBgc, r)


  tr:nth-child(3)
    height: 23px
  tr:nth-child(4)
    height: 26px
  tr:nth-child(5)
    height: 30px
  tr:nth-child(6)
    height: 36px
  tr:nth-child(7)
    height: 40px
  tr:nth-child(8)
    height: 63px

  td:nth-child(3)
    width: 8.5%
  td:nth-child(4)
    width: 9.5%
  td:nth-child(5)
    width: 10.5%
  td:nth-child(6)
    width: 13.5%
  td:nth-child(7)
    width: 14.5%
  td:nth-child(8)
    width: 16%
  td:nth-child(9)
    width: 18%


+r(1440)
  .sizes-table
    table-layout: fixed
    font-size: 1rem
    tr
      height: 35px
    tr:nth-child(3)
      height: 35px
    tr:nth-child(4)
      height: 35px
    tr:nth-child(5)
      height: 35px
    tr:nth-child(6)
      height: 35px
    tr:nth-child(7)
      height: 35px
    tr:nth-child(8)
      height: 35px
    td
      width: auto
    td:nth-child(3)
      width: auto
    td:nth-child(4)
      width: auto
    td:nth-child(5)
      width: auto
    td:nth-child(6)
      width: auto
    td:nth-child(7)
      width: auto
    td:nth-child(8)
      width: auto
    td:nth-child(9)
      width: auto

    .tt
      font-size: 0.9rem
+r(768)
  .sizes-table
    table-layout: fixed
    font-size: 1rem
    td:first-child
      border: 1px solid #D6D6D6
      width: auto
      padding: 0
      text-align: center
    tr:first-child td, td:first-child
      border: 1px solid #D6D6D6
      width: auto
      text-align: center
    .td-text
      display: none
    .tt
      display: none !important
+r(480)
  .sizes-table
    font-size: 0.92rem
