.sizes-image
  position: relative
  min-height: 170px
  padding: 0
  .ico-sizes
    position: absolute
    right: 0
    bottom: 0
    width: 255px
    height: 68px
  &__width
    position: absolute
    right: 0
    bottom: 75px
    width: 243px
  &__height
    min-width: 160px
    position: absolute
    right: 272px
    bottom: 0
    text-align: right
  &__width, &__height
    line-height: 1.25

  &__img
    position: absolute
    right: 5px
    bottom: 0
    width: 415px


+r(1440)
  .sizes-image
    min-height: 120px
    .ico-sizes
      width: 180px
      height: 50px
    &__width
      bottom: 53px
      width: 170px
    &__height
      right: 190px
    &__width, &__height
      font-size: 1.05rem
    &__img
      right: 3px
      width: 295px

+r(1024)
  .sizes-image
    min-height: 105px
    .ico-sizes
      width: 155px
      height: 42px
    &__width
      bottom: 45px
      width: 150px
    &__height
      right: 160px
    &__img
      right: 3px
      width: 251px
