.slick-prev
  position: absolute
  z-index: 2
  left: -16.66%
  top: 50%
  width: 34px
  height: 15px
  margin-top: -7px
  background: transparent url(../img/slide-prev.svg) no-repeat center
  border: none
  font-size: 0

.slick-next
  position: absolute
  z-index: 2
  right: -16.66%
  top: 50%
  width: 34px
  height: 15px
  margin-top: -7px
  background: transparent url(../img/slide-next.svg) no-repeat center
  border: none
  font-size: 0

.slick-list, .slick-track
  will-change: transform

.slick-arrows-fixed
  .slick-prev, .slick-next
    top: 230px
