.slideshow-link
  display: block
  text-align: center
  cursor: pointer

  .ico-slideshow
    margin-bottom: 15px
    width: 60px
    height: 40px
    fill: #fff

  .slideshow-link__line
    position: relative
    display: block
    width: 100%
    height: 3px
    background: rgba(255,255,255,.5)
    overflow: hidden

    &:after
      content: ''
      position: absolute
      right: 100%
      top: 0
      width: 100%
      height: 100%
      opacity: 0
      background: #fff

  &.active &__line:after
    animation: line-animation $lineAnimationDuration
    animation-timing-function:  linear


@keyframes line-animation
  0%
    opacity: 0
    transform: none
  10%
    opacity: 1
  100%
    opacity: 1
    transform: translate3d(100%,0,0)
