.slideshow-pagination
  position: absolute
  z-index: 10
  bottom: 15px
  left: 0
  right: 0
  text-align: center

  li
    display: inline-block
    width: 50px
    vertical-align: middle
    margin-left: 12px

    &:first-child
      margin-left: 0

  .slideshow-link
    padding: 5px 0
