.sm-menu-btn
  position: fixed
  z-index: 10
  top: 27px
  right: 6.25%
  padding: 5px
  font-size: 0
  svg
    width: 21px
    height: 12px
    fill: #fff
    transition: all 0.3s

  &_dark svg
    fill: #000
