.sm-menu
  text-align: center

  &__list
    margin-top: 40px
    font-size: 1.28rem

    li
      margin-top: 20px
      &:first-child
        margin-top: 0

  &__contacts
    margin-top: 20px
    font-size: 1.07rem

    li
      margin-top: 5px
      &:first-child
        margin-top: 0

  &__order
    margin-top: 40px
    width: 192px

  .ico-download
    position: relative
    display: inline-block
    height: 14px
    width: 12px
    margin-right: 5px
    top: 1px
