.text
  font-family: $fontSFText
  font-size: 1.14rem
  line-height: 1.3

  //20
  &_lg
    font-size: 1.42rem
    line-height: 1.45
  //15
  &_sm
    font-size: 1.07rem
    line-height: 1.25
  //13
  &_xs
    font-size: 0.92rem
    line-height: 1.25

  p, .text
    margin: 15px 0 0 0
    &:first-child
      margin-top: 0

  button
    font-family: $fontSFText


+r(1440)
  .text
    font-size: 1rem
    &_lg
      font-size: 1.14rem
    &_sm
      font-size: 0.92rem

+r(320)
  .text
    font-size: 1rem
