.title
  font-size: 1rem
  line-height: 1
  font-weight: bold
  font-family: $fontHarmonia


  //60px
  &_xxl
    font-size: 4.28rem

  //45
  &_pr-title
    font-size: 3.21rem

  //40
  &_xl
    font-size: 2.85rem
    line-height: 1.35

  //32
  &_lg
    font-size: 2.28rem
    line-height: 1.18

  //29
  &_xxmd
    font-size: 2.07rem

  //25
  &_xmd
    font-size: 1.78rem

  //20
  &_md
    font-size: 1.42rem
    line-height: 1.4

  //18
  &_sm
    font-size: 1.28rem

  //15
  &_xs
    font-size: 1.07rem


+r(1440)
  .title
    &_xxl
      font-size: 3.57rem
    &_xl
      font-size: 2.14rem
    &_pr-title
      font-size: 1.92rem
    &_lg
      font-size: 1.57rem
    &_xxmd
      font-size: 1.42rem
    &_xmd
      font-size: 1.42rem
    &_sm
      font-size: 1.14rem
+r(1024)
  .title
    &_xxl
      font-size: 2.14rem
    &_xxmd
      font-size: 1.21rem
    &_xmd
      font-size: 1.21rem
    &_sm
      font-size: 1.14rem
