.tt
  display: inline-block
  position: relative
  font-size: 0
  line-height: 0
  top: -3px
  &__container
    position: absolute
    left: 50%
    bottom: 100%
    width: 350px
    z-index: 2
    text-align: left
    visibility: hidden
    opacity: 0
    transform: translate3d(0,0,0) scale(0.5)
    will-change: transform, opacity
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    transform-origin: 0 100%
    font-size: 0

  &__content
    display: inline-block
    position: relative
    margin-left: -34px
    padding: 20px 20px 25px 20px
    background: $tooltipBgc
    color: $tooltipColor
    text-align: left
    margin-top: -100%
    &:after
      content: ''
      position: absolute
      top: 100%
      margin-top: -1px
      left: 20px
      margin-left: 7px
      +arr(14,7, $tooltipBgc, b)
    .title
      font-size: 1.21rem
    .text
      margin-top: 7px
      font-size: 1.07rem


  &__measure:hover + &__container
    opacity: 1
    transform: translate3d(0,0,0) scale(1)
    visibility: visible


  &_center &__container
    margin-left: -175px
    text-align: center
    transform-origin: 50% 100%
  &_center &__content
    margin-left: 0
    &:after
      left: 50%
      margin-left: -7px

  &_right &__container
    left: auto
    right: 50%
    margin-right: -32px
    text-align: right
    transform-origin: 100% 100%
  &_right &__content
    margin-left: auto
    margin-right: -10px
    &:after
      left: auto
      margin-left: -7px
      right: 34px


+r(1440)
  .tt
    &__container
      width: 280px
    &_center &__container
      margin-left: -140px
