.workers
  padding-top: 40px

  &__list
    margin: 0 -20px
    display: flex
    justify-content: flex-start
    flex-wrap: wrap

  &__item
    flex-basis: 25%
    padding: 80px 20px 0 20px

  .slick-prev
    top: 150px
    left: -50px
  .slick-next
    top: 150px
    right: -50px
  .slick-dots
    position: absolute
    left: 0
    bottom: -25px
    font-size: 0
    line-height: 0
    li
      display: inline-block
      vertical-align: middle
      margin-left: 2px
    button
      display: inline-block
      width: 3px
      height: 3px
      background: #F2C7AB
    .slick-active button, button:hover
      background: #7F7F7F



+r(1440)
  .workers
    &__item
      flex-basis: 33.33%
+r(1024)
  .workers
    padding-top: 65px
    padding-bottom: 25px
    &__list
      margin: 0
      display: block
    &__item
      padding: 0 40px 0 0
+r(768)
  .workers
    padding-top: 50px
    &__list
      margin: 0 15px
