.worker
  width: 100%
  font-size: 0.92rem

  &__photo
    height: 300px
    width: 100%
    overflow: hidden
    font-size: 0
    img
      display: inline-block
      min-width: 100%
      min-height: 100%

  &__name
    margin-top: 20px

  &__position
    margin-top: 5px

  &__contacts
    margin-top: 15px

  &__email
    margin-top: 5px

+r(1024)
  .worker
    width: 220px
