// BEGIN modal-tooltip

.modal.modal_sm.modal_tooltip#modal-tooltip
  button.js-modal-close.modal__backdrop
          
  .modal-tooltip 
      button.modal-close.js-modal-close  
      .modal-tooltip__content 
    



// END modal-tooltip
