// BEGIN modal-menu

.modal.modal_sm.modal_default#modal-menu
  button.modal-close.js-modal-close  
      
  .sm-menu
    ul.sm-menu__language.language_sm
      li: button.active Rus
      li: button Eng
    ul.sm-menu__list.title
      li: a(href="#") Продукция
      li: a(href="#") Карта
      li: a(href="#") О компании
      li: a(href="#")
        +icon('ico-download')
        | Прайс
      li: a(href="#") Лесная сертификация
    button(data-modal="#modal-order").btn.btn_red-transparent.sm-menu__order.js-modal-open Заявка
    ul.sm-menu__contacts.title
      li: a (342) 256-40-20
      li: a sales@ro1910.ru



// END modal-menu
