// BEGIN modal-presentation

.modal.modal_large.modal_with-top-line#modal-presentation
  button.modal-close.modal-close_sm.js-modal-close
  
  .presentation-slider.carousel.js-carousel(data-pagination="#pagination-3")
    .carousel-arrows.carousel-arrows_white
      button.js-carousel-btn.prev(data-direction="prev"): +icon('ico-slide-prev')
      button.js-carousel-btn.next(data-direction="next"): +icon('ico-slide-next')
    .carousel__slides
      .carousel__slide
        .presentation-slide
          .presentation-slide__background.img-fill
            img(src="img/slide-1.jpg")
          .container.container-thin.presentation-slide__container
            .presentation-slide__top
              .title.title_pr-title Лесосырьевая база
              .text.presentation-slide__text
                | «Красному октябрю» принадлежат права долгосрочной аренды 
                | лесного фонда в Пермском, Горнозаводском, Соликамском, Чердынском, 
                | Добрянском, Ильинском, Гайнском районах Пермского края.
            .presentation-slide__bottom
              ul.presentation-slide__list
                li
                  .title.title_xxl 640 000 м<sup>3</sup>
                  .text максимальный годовой объём заготовки
                li
                  .title.title_xxl 50%
                  .text хвойных пород
      
      .carousel__slide
        .presentation-slide.presentation-slide_dark-text
          .presentation-slide__background.js-carousel.carousel.carousel_fade-effect(data-pagination="#pagination-3-1" data-autoplay="4000")
            .carousel__slides                
              .carousel__slide: .img-fill: img(src="img/slide-2-1.jpg")
              .carousel__slide: .img-fill: img(src="img/slide-2-1.jpg")
              .carousel__slide: .img-fill: img(src="img/slide-2-1.jpg")
          .container.container-thin.presentation-slide__container
            .presentation-slide__top
              .title.title_pr-title Используем информационные технологии
              .text.presentation-slide__text
                p Чтобы получить представление о фактическом состоянии леса на делянках и повысить точность планирования, анализируем снимки со спутников и дронов. 
                p Для традиционных методов оценки характеристик лесного фонда используем электронный измерительный инструмент — дендрометры и электронные мерные вилки.
                p Результаты оценки состояния леса заносим в геоинформационную базу данных, где создаются подробные технологические схемы  и карты для эффективного освоения лесов.
            .presentation-slide__bottom
              ul.presentation-slide__list.js-pagination#pagination-3-1
                li
                  button(data-direction="index" data-index="0").js-carousel-btn.slideshow-link
                    +icon('ico-slideshow')
                    span.slideshow-link__line
                li
                  button(data-direction="index" data-index="1").js-carousel-btn.slideshow-link
                    +icon('ico-slideshow')
                    span.slideshow-link__line
                li
                  button(data-direction="index" data-index="2").js-carousel-btn.slideshow-link
                    +icon('ico-slideshow')
                    span.slideshow-link__line
                      
      .carousel__slide          
        .presentation-slide
          .presentation-slide__background.img-fill
            img(src="img/slide-3.jpg")
          .container.container-thin.presentation-slide__container
            .presentation-slide__top
              .title.title_pr-title Сырье с собственных<br> лесозаготовок
              .text.presentation-slide__text
                | Регулярно обновляем и пополняем парк лесозаготовительной техники: 
                | харвестеры, форвардеры, лесные перегружатели и вездеходы. 
                | Для создания инфраструктуры на лесозаготовительных участках 
                | строим и содержим дороги, используя собственные бульдозеры, 
                | грейдеры, экскаваторы.
            .presentation-slide__bottom
              ul.presentation-slide__list
                li
                  .title.title_xxl 1000 м<sup>3</sup>
                  .text суточная производительность<br> на заготовке
                li
                  .title.title_xxl 4
                  .text лесозаготовительных<br> комплекса
                  
      .carousel__slide
        .presentation-slide
          .presentation-slide__background.js-carousel.carousel.carousel_fade-effect(data-pagination="#pagination-3-2" data-autoplay="4000")
            .carousel__slides                
              .carousel__slide: .img-fill: img(src="img/slide-4-1.jpg")
              .carousel__slide: .img-fill: img(src="img/slide-4-1.jpg")
              .carousel__slide: .img-fill: img(src="img/slide-4-1.jpg")
          .container.container-thin.presentation-slide__container
            .presentation-slide__top
              .title.title_pr-title Используем все виды транспорта
              .text.presentation-slide__text
                p 
                  | Круглые лесоматериалы доставляем автотранспортом
                  | и сетью железных дорог. С 2012 года возобновлен лесосплав
                  | по реке Каме.
                p
                  | Для доставки готовой продукции покупателям используем морской, 
                  | железнодорожный и автомобильный транспорт. Сотрудничаем с ведущими 
                  | транспортными компаниями Российской Федерации, СНГ, Евросоюза;  
                  | заключены договоры на перевалку с Новороссийским и Астраханским 
                  | портами; заключены контракты с всемирно известными морскими 
                  | контейнерными линиями.
            .presentation-slide__bottom
              ul.presentation-slide__list.js-pagination#pagination-3-2
                li
                  button(data-direction="index" data-index="0").js-carousel-btn.active.slideshow-link
                    +icon('ico-slideshow')
                    span.slideshow-link__line
                li
                  button(data-direction="index" data-index="1").js-carousel-btn.slideshow-link
                    +icon('ico-slideshow')
                    span.slideshow-link__line
                li
                  button(data-direction="index" data-index="2").js-carousel-btn.slideshow-link
                    +icon('ico-slideshow')
                    span.slideshow-link__line
                      
      .carousel__slide                  
        .presentation-slide
          .presentation-slide__background.img-fill
            img(src="img/slide-5.jpg")
          .container.container-thin.presentation-slide__container
            .presentation-slide__top
              .title.title_pr-title Распиловка на новом и современном оборудовании
              .text.presentation-slide__text
                | Продукция производится в новом лесопильном цехе, введенном
                | в эксплуатацию в 2013 году. Лесопильная линия Soderhamn
                | Eriksson оборудована трехмерным сканером бревен, системой 
                | оптимизации и агрегатами, моментально переходящими от одной 
                | схемы раскроя к другой. Благодаря гибкой технологии и 
                | использованию широких ленточных пил оборудование справляется 
                | с распиловкой бревен диаметром от 12 до 60 см.
            .presentation-slide__bottom
              ul.presentation-slide__list
                li
                  .title.title_xxl 120 000 м<sup>3</sup>
                  .text годовой объем выпуска пиломатериала
                  
      .carousel__slide
        .presentation-slide
          .presentation-slide__background.js-carousel.carousel.carousel_fade-effect(data-pagination="#pagination-3-3" data-autoplay="4000")
            .carousel__slides                
              .carousel__slide: .img-fill: img(src="img/slide-6-1.jpg")
              .carousel__slide: .img-fill: img(src="img/slide-6-1.jpg")
              .carousel__slide: .img-fill: img(src="img/slide-6-1.jpg")
          .container.container-thin.presentation-slide__container
            .presentation-slide__top
              .title.title_pr-title Автоматическая сортировка пиломатериала
              .text.presentation-slide__text
                p
                  | Качество пиломатериалов — приоритет на предприятии. Доски
                  | сортируются с использованием технологии компьютерного зрения.  
                p
                  | Камеры системы FinScan BoardMaster Nova делают снимки досок
                  | во всех плоскостях, при обработке изображения определяются
                  | пороки, прочностные характеристики и размер. Затем система
                  | оптимизации выдает конечную длину и назначает сорт для каждой доски.
                p
                  | Параметры распиловки и сортировки пиломатериала можно поменять 
                  | за несколько минут. Система позволяет использовать стандарты, 
                  | применяемые к пиломатериалам в разных странах.
            .presentation-slide__bottom
              ul.presentation-slide__list.js-pagination#pagination-3-3
                li
                  button(data-direction="index" data-index="0").js-carousel-btn.active.slideshow-link
                    +icon('ico-slideshow')
                    span.slideshow-link__line
                li
                  button(data-direction="index" data-index="1").js-carousel-btn.slideshow-link
                    +icon('ico-slideshow')
                    span.slideshow-link__line
                li
                  button(data-direction="index" data-index="2").js-carousel-btn.slideshow-link
                    +icon('ico-slideshow')
                    span.slideshow-link__line
                    
      .carousel__slide
        .presentation-slide
          .presentation-slide__background.img-fill
            img(src="img/slide-7.jpg")
          .container.container-thin.presentation-slide__container
            .presentation-slide__top
              .title.title_pr-title Сушим до заданной влажности
              .text.presentation-slide__text
                p
                  | Пиломатериал проходит камерную сушку до транспортной влажности. 
                  | По заказу клиента в процесс сушки можно внести изменения 
                  | для достижения нужных параметров. 
                p
                  | Технология камерной сушки гарантирует сохранность качества 
                  | и эксплуатационных характеристик древесины.
                p
                  | Сушильный комплекс предприятия состоит из 15 камер 
                  | периодического действия. Каждая вмещает 150 м³ пиломатериалов. 
                  | Процесс сушки полностью автоматизирован.
            .presentation-slide__bottom
              ul.presentation-slide__list
                li
                  .title.title_xxl 150 м<sup>3</sup>
                  .text загрузка каждой из 15 камер
                li
                  .title.title_xxl 855
                  .text циклов в год
                li
                  .title.title_xxl 120 000
                  .text максимальная производительность
                  
      .carousel__slide              
        .presentation-slide
          .presentation-slide__background.img-fill
            img(src="img/slide-8.jpg")
          .container.container-thin.presentation-slide__container
            .presentation-slide__top
              .title.title_pr-title В соответствии с принципами FSC и PEFC
              .text.presentation-slide__text
                p
                  | Производственная цепочка «Красного октября» сертифицирована 
                  | Лесным попечительским советом (FSC) и PEFC.
                p
                  | Хозяйственная деятельность предприятия полностью соответствует 
                  | требованиям ответственного управления лесами:
                  ul.markered-list
                    li проводим работы по охране и восстановлению лесов;
                    li внедрена безотходная технология производства;
                    li разрабатывается биоэнергетический проект для получения электричества и тепла из возобновляемых источников энергии.
    
    .container.presentation-close-btn.hidden-md.hidden-lg
      button.js-modal-close.btn Закрыть презентацию                      
                              
  .presentation-slider-nav
    .container.presentation-slider-nav__container
      ul.js-pagination#pagination-3
        li.text.text_sm: button(data-direction="index" data-index="0").js-carousel-btn.active Делянки
        li.text.text_sm: button(data-direction="index" data-index="1").js-carousel-btn Качество леса
        li.text.text_sm: button(data-direction="index" data-index="2").js-carousel-btn Лесозаготовка
        li.text.text_sm: button(data-direction="index" data-index="3").js-carousel-btn Транспортировка
        li.text.text_sm: button(data-direction="index" data-index="4").js-carousel-btn Распиловка
        li.text.text_sm: button(data-direction="index" data-index="5").js-carousel-btn Сортировка
        li.text.text_sm: button(data-direction="index" data-index="6").js-carousel-btn Сушка
        li.text.text_sm: button(data-direction="index" data-index="7").js-carousel-btn Стандарт FSC
      
  
  
// END modal-presentation
