// BEGIN modal-order

.modal.modal_large.modal_default#modal-order
  button.modal-close.orange.js-modal-close
    .title.title_xs закрыть
    .text.text_sm
      | данные в форме<br>
      | не потеряются
  
      
  .order-section
    .container.container-thin.order-section__container
      .title.order-section__title.hidden-md.hidden-lg Ваш заказ
      ul.order-section__tabs-nav.js-tabs-nav
        li
          a(href="#" data-tab="tab1").link.js-tab-link
            span.link__sm-text <span class="hidden-sm hidden-xs">Нужно</span> больше 45 м<sup>3</sup>
            span.link__text.title.title_lg Оптовый <span class="hidden-sm hidden-xs">заказ</span>
        li
          a(href="#" data-tab="tab2").link.active.js-tab-link
            span.link__sm-text <span class="hidden-sm hidden-xs">Нужно</span> меньше 45 м<sup>3</sup>
            span.link__text.title.title_lg Розничный <span class="hidden-sm hidden-xs">заказ</span>
            
      ul.js-tabs
        li.tab(id="tab1")            
          form.order-section__form.form
            
            .order-section__form-content
              .order-section__form-left
                div.form__field
                  label.label Ваше имя *
                  input.input(placeholder="Иван Иванович")
                div.form__field
                  label.label Email *
                  input.input(placeholder="mail@mail.ru")
                div.form__field
                  label.label Телефон *
                  input.input(placeholder="8 888 888 88 88")
                div.form__field
                  label.label Название компании *
                  input.input(placeholder="ООО Лесострой")
                div.form__field
                  label.label Дополнительная информация
                  input.input(placeholder="Комментарий")
                div.form__field.form__checkbox
                  label(for="cb1").checkbox
                    input(type="checkbox" id="cb1")
                    span
                  label(for="cb1").label Согласен на обработку персональных данных
                button.title.btn.form__submit-sm.hidden-md.hidden-lg Отправить заявку
              .order-section__form-right
                .order-section__text
                  .text
                    p После получения заявки менеджер свяжется с вами чтобы уточнить детали заказа
                    p Мы не передадим ваши данные третьим лицам, не будем слать спам.
                    .text.text_xs
                      button(data-modal="#modal-confidential").orange.js-modal-open  Условия политики конфиденциальности
                
            button.link.link_red.link_submit.form__submit.title.hidden-sm.hidden-xs
              span.link__text Отправить заявку
              
            .form__result 
              .title.title_xmd Заявка отправлена!
        li.tab.active(id="tab2")            
          form.order-section__form.form
            
            .order-section__form-content
              .order-section__form-left
                div.form__field
                  label.label Ваше имя *
                  input.input(placeholder="Иван Иванович")
                div.form__field
                  label.label Email *
                  input.input(placeholder="mail@mail.ru")
                div.form__field
                  label.label Телефон *
                  input.input(placeholder="8 888 888 88 88")
                div.form__field
                  label.label Дополнительная информация
                  input.input(placeholder="Комментарий")
                div.form__field.form__checkbox
                  label(for="cb2").checkbox
                    input(type="checkbox" id="cb2")
                    span
                  label(for="cb2").label Согласен на обработку персональных данных
                button.title.btn.form__submit-sm.hidden-md.hidden-lg Отправить заявку
              .order-section__form-right
                .order-section__text
                  .text
                    p После получения заявки менеджер свяжется с вами чтобы уточнить детали заказа
                    p Мы не передадим ваши данные третьим лицам, не будем слать спам.
                    .text.text_xs
                      button(data-modal="#modal-confidential").orange.js-modal-open  Условия политики конфиденциальности
                
            button.link.link_red.link_submit.form__submit.title.hidden-sm.hidden-xs
              span.link__text Отправить заявку
              
            .form__result 
              .title.title_xmd Заявка отправлена!
              
          
          
      



// END modal-order
