// BEGIN modal-sizes

.modal.modal_large.modal_default#modal-sizes
  button.modal-close.orange.js-modal-close
    .title.title_xs закрыть
  .products-sizes
    .container.container-thin
      .title.title_lg.products-sizes__title Основные длины любой доски — 4 и 6 метров.<br>Широкий диапазон размеров.
      
      .products-sizes__table-section
        .title.title_xmd  Доска из ели
        .products-sizes__info.text.text_xs.gray.hidden-sm.hidden-md.hidden-lg Выделены доступные размеры, толщина по вертикали и ширина по горизонтали
        table.sizes-table.gray.products-sizes__table.js-sizes-table
          tr
            td
            td
              | 75
              .tt
                .tt__content ширина 75 мм
            td
              | 100
              .tt
                .tt__content ширина 100 мм
            td
              | 125
              .tt
                .tt__content ширина 125 мм
            td
              | 150
              .tt
                .tt__content ширина 150 мм
            td
              | 175
              .tt
                .tt__content ширина 175 мм
            td 
              | 200
              .tt
                .tt__content ширина 200 мм
            td
              | 225
              .tt
                .tt__content ширина 225 мм
            td
              | 250
              .tt
                .tt__content ширина 250 мм
          tr
            td
              | 22
              .tt
                .tt__content толщина<br> 22 мм
            td: span.td-text 22x75 <span class="hidden-lg">мм</span>
            td.active: span.td-text 22x100 мм
            td.active: span.td-text 22x125 мм
            td.active: span.td-text 22x150 мм
            td: span.td-text 22x175 мм
            td: span.td-text 22x200 мм
            td: span.td-text 22x225 мм
            td: span.td-text 22x250 мм
          tr
            td
              | 28
              .tt
                .tt__content толщина<br> 28 мм
            td: span.td-text 28x75 <span class="hidden-lg">мм</span>
            td: span.td-text 28x100 мм
            td: span.td-text 28x125 мм
            td.active: span.td-text 28x150 мм
            td: span.td-text 28x175 мм
            td: span.td-text 28x200 мм
            td: span.td-text 28x225 мм
            td: span.td-text 28x250 мм
          tr
            td
              | 32
              .tt
                .tt__content толщина<br> 32 мм
            td: span.td-text 32x75 <span class="hidden-lg">мм</span>
            td.active: span.td-text 32x100 мм
            td.active: span.td-text 32x125 мм
            td.active: span.td-text 32x150 мм
            td.active: span.td-text 32x175 мм
            td: span.td-text 32x200 мм
            td: span.td-text 32x225 мм
            td: span.td-text 32x250 мм
          tr
            td
              | 38
              .tt
                .tt__content толщина<br> 38 мм
            td: span.td-text 38x75 <span class="hidden-lg">мм</span>
            td: span.td-text 38x100 мм
            td: span.td-text 38x125 мм
            td.active: span.td-text 38x150 мм
            td: span.td-text 38x175 мм
            td: span.td-text 38x200 мм
            td: span.td-text 38x225 мм
            td: span.td-text 38x250 мм
          tr
            td
              | 44
              .tt
                .tt__content толщина<br> 44 мм
            td: span.td-text 44x75 <span class="hidden-lg">мм</span>
            td: span.td-text 44x100 мм
            td.active: span.td-text 44x125 мм
            td.active: span.td-text 44x150 мм
            td: span.td-text 44x175 мм
            td: span.td-text 44x200 мм
            td: span.td-text 44x225 мм
            td: span.td-text 44x250 мм
          tr
            td
              | 47
              .tt
                .tt__content толщина<br> 47 мм
            td: span.td-text 47x75 <span class="hidden-lg">мм</span>
            td.active: span.td-text 47x100 мм
            td.active: span.td-text 47x125 мм
            td.active: span.td-text 47x150 мм
            td: span.td-text 47x175 мм
            td.active: span.td-text 47x200 мм
            td.active: span.td-text 47x225 мм
            td.active: span.td-text 47x250 мм
          tr
            td
              | 60
              .tt
                .tt__content толщина<br> 60 мм
            td: span.td-text 60x75 <span class="hidden-lg">мм</span>
            td: span.td-text 60x100 мм
            td: span.td-text 60x125 мм
            td.active: span.td-text 60x150 мм
            td: span.td-text 60x175 мм
            td.active: span.td-text 60x200 мм
            td: span.td-text 60x225 мм
            td: span.td-text 60x250 мм
    
      .products-sizes__table-section
        .title.title_xmd  Сосновая доска
        .products-sizes__info.text.text_xs.gray.hidden-sm.hidden-md.hidden-lg Выделены доступные размеры, толщина по вертикали и ширина по горизонтали
        table.sizes-table.gray.products-sizes__table.js-sizes-table
          tr
            td
            td
              | 75
              .tt
                .tt__content ширина 75 мм
            td
              | 100
              .tt
                .tt__content ширина 100 мм
            td
              | 125
              .tt
                .tt__content ширина 125 мм
            td
              | 150
              .tt
                .tt__content ширина 150 мм
            td
              | 175
              .tt
                .tt__content ширина 175 мм
            td 
              | 200
              .tt
                .tt__content ширина 200 мм
            td
              | 225
              .tt
                .tt__content ширина 225 мм
            td
              | 250
              .tt
                .tt__content ширина 250 мм
          tr
            td
              | 22
              .tt
                .tt__content толщина<br> 22 мм
            td: span.td-text 22x75
            td.active: span.td-text 22x100 мм
            td.active: span.td-text 22x125 мм
            td.active: span.td-text 22x150 мм
            td: span.td-text 22x175 мм
            td: span.td-text 22x200 мм
            td: span.td-text 22x225 мм
            td: span.td-text 22x250 мм
          tr
            td
              | 28
              .tt
                .tt__content толщина<br> 28 мм
            td: span.td-text 28x75
            td: span.td-text 28x100 мм
            td: span.td-text 28x125 мм
            td.active: span.td-text 28x150 мм
            td: span.td-text 28x175 мм
            td: span.td-text 28x200 мм
            td: span.td-text 28x225 мм
            td: span.td-text 28x250 мм
          tr
            td
              | 32
              .tt
                .tt__content толщина<br> 32 мм
            td: span.td-text 32x75
            td.active: span.td-text 32x100 мм
            td.active: span.td-text 32x125 мм
            td.active: span.td-text 32x150 мм
            td.active: span.td-text 32x175 мм
            td: span.td-text 32x200 мм
            td: span.td-text 32x225 мм
            td: span.td-text 32x250 мм
          tr
            td
              | 38
              .tt
                .tt__content толщина<br> 38 мм
            td: span.td-text 38x75
            td: span.td-text 38x100 мм
            td: span.td-text 38x125 мм
            td.active: span.td-text 38x150 мм
            td: span.td-text 38x175 мм
            td: span.td-text 38x200 мм
            td: span.td-text 38x225 мм
            td: span.td-text 38x250 мм
          tr
            td
              | 44
              .tt
                .tt__content толщина<br> 44 мм
            td: span.td-text 44x75
            td: span.td-text 44x100 мм
            td.active: span.td-text 44x125 мм
            td.active: span.td-text 44x150 мм
            td: span.td-text 44x175 мм
            td: span.td-text 44x200 мм
            td: span.td-text 44x225 мм
            td: span.td-text 44x250 мм
          tr
            td
              | 47
              .tt
                .tt__content толщина<br> 47 мм
            td: span.td-text 47x75
            td.active: span.td-text 47x100 мм
            td.active: span.td-text 47x125 мм
            td.active: span.td-text 47x150 мм
            td: span.td-text 47x175 мм
            td.active: span.td-text 47x200 мм
            td.active: span.td-text 47x225 мм
            td.active: span.td-text 47x250 мм
          tr
            td
              | 60
              .tt
                .tt__content толщина<br> 60 мм
            td: span.td-text 60x75
            td: span.td-text 60x100 мм
            td: span.td-text 60x125 мм
            td.active: span.td-text 60x150 мм
            td: span.td-text 60x175 мм
            td.active: span.td-text 60x200 мм
            td: span.td-text 60x225 мм
            td: span.td-text 60x250 мм


// END modal-sizes
