// BEGIN modal-order

.modal.modal_large.modal_default#modal-docs
  button.modal-close.orange.js-modal-close
    .title.title_xs закрыть
  
  .container.container-thin
    .docs
      .title.title_lg.docs__title
        +icon('ico-file')
        span.docs__title-text Лесная сертификация<br>ООО «КО Форест»
        
      .docs__content-wrap
      
        .docs__workers-wrap
          .title.title_xs Контактные лица по вопросам сертификации
          ul.docs__workers
            li
              .worker
                .worker__name.title.title_md Александр Суслопаров 
                .worker__position.text.text_sm.gray Генеральный директор ООО «Красный Октябрь»
                .worker__contacts.text.text_sm.gray (342) 256-40-50, доб. 101
                .worker__email.text.text_sm: a(href="#").orange susloparovav@ro1910.ru
            li
              .worker
                .worker__name.title.title_md Александр Суслопаров 
                .worker__position.text.text_sm.gray Генеральный директор ООО «Красный Октябрь»
                .worker__contacts.text.text_sm.gray (342) 256-40-50, доб. 101
                .worker__email.text.text_sm: a(href="#").orange susloparovav@ro1910.ru
                
        .docs__main                
          .docs__section
            .title.title_md.hidden-lg Документы
            .docs__links-wrap
              ul.docs__links
                li: a(href="#").doc-link
                  span.doc-link__text Анализ и оценка воздействия на леса высокой природной ценности
                  span.doc-link__size.lightgray 8 Мб, .doc
                li: a(href="#").doc-link
                  span.doc-link__text Анализ и оценка воздействия на леса высокой природной ценности
                  span.doc-link__size.lightgray 8 Мб, .doc
                li: a(href="#").doc-link
                  span.doc-link__text Анализ и оценка воздействия на леса высокой природной ценности
                  span.doc-link__size.lightgray 8 Мб, .doc
              ul.docs__links
                li: a(href="#").doc-link
                  span.doc-link__text Анализ и оценка воздействия на леса высокой природной ценности
                  span.doc-link__size.lightgray 8 Мб, .doc
                li: a(href="#").doc-link
                  span.doc-link__text Анализ и оценка воздействия на леса высокой природной ценности
                  span.doc-link__size.lightgray 8 Мб, .doc
                li: a(href="#").doc-link
                  span.doc-link__text Анализ и оценка воздействия на леса высокой природной ценности
                  span.doc-link__size.lightgray 8 Мб, .doc
          .docs__section
            .title.title_md Картографические материалы
            .docs__links-wrap
              ul.docs__links
                li: a(href="#").doc-link
                  span.doc-link__text Карта-схема распределения арендованных лесных участков ООО Красный Октябрь на территории Пермского края
                  span.doc-link__size.lightgray 8 Мб, .doc
                li: a(href="#").doc-link
                  span.doc-link__text Анализ и оценка воздействия на леса высокой природной ценности
                  span.doc-link__size.lightgray 8 Мб, .doc
                li: a(href="#").doc-link
                  span.doc-link__text Анализ и оценка воздействия на леса высокой природной ценности
                  span.doc-link__size.lightgray 8 Мб, .doc
              ul.docs__links
                li: a(href="#").doc-link
                  span.doc-link__text Анализ и оценка воздействия на леса высокой природной ценности
                  span.doc-link__size.lightgray 8 Мб, .doc
                li: a(href="#").doc-link
                  span.doc-link__text Анализ и оценка воздействия на леса высокой природной ценности
                  span.doc-link__size.lightgray 8 Мб, .doc
                li: a(href="#").doc-link
                  span.doc-link__text Анализ и оценка воздействия на леса высокой природной ценности
                  span.doc-link__size.lightgray 8 Мб, .doc
          



// END modal-order
