---
title: RedOctober Main
bodyClass: homepage
---
extends shared/_layout
block content
  include shared/_products
  include shared/_inaccuracy
  include shared/_map
  include shared/_production-process
  include shared/_workers
  include shared/_certificates
  include shared/_history
  
  //button.js-modal-open(data-modal="#modal-order") Окно заказа
  //button.js-modal-open(data-modal="#modal-sizes") Окно размеров
  //button.js-modal-open(data-modal="#modal-presentation") Окно презентации
  //button.js-modal-open(data-modal="#modal-docs") Окно документов
  //button.js-modal-open(data-modal="#modal-tooltip") Окно подсказки
