// BEGIN certificates



.certificates
  .container.container-thin
    .title.title_lg Сертификаты качества
  .container.certificates__list
    .certificates__item
      a(href="#").certificate
        +icon('ico-file')
        span.certificate__title.title.title_xs.orange
          |PEFC Certification COC RO Timber
        span.certificate__description.gray
          |Production and trade of coniferous sawn timber products, round wood and wood-chips
    .certificates__item
      a(href="#").certificate
        +icon('ico-file')
        span.certificate__title.title.title_xs.orange
          |PEFC Certification FM/COC RO Forest
        span.certificate__description.gray
          |Certified forest area 295 160,20 ha
    .certificates__item
      a(href="#").certificate
        +icon('ico-file')
        span.certificate__title.title.title_xs.orange
          |FSC Certification COC and CW RO Timber
        span.certificate__description.gray
          |Production and trade of coniferous sawn timber, chips and sawdust
    .certificates__item
      a(href="#").certificate
        +icon('ico-file')
        span.certificate__title.title.title_xs.orange
          |FSC Certification FM/COC RO Forest
        span.certificate__description.gray
          |Forest management and trade of round wood
    .certificates__item
      a(href="#").certificate
        +icon('ico-file')
        span.certificate__title.title.title_xs.orange
          |Self Declaration FSC RO Timber Rus/Eng
        span.certificate__description.gray
          |Policy for the Association of Organisations with FSC™
    .certificates__item
      a(href="#").certificate
        +icon('ico-file')
        span.certificate__title.title.title_xs.orange
          |C24 Attestation of Quality of Production Control
        span.certificate__description.gray
          |Строительный брус, сортированный по прочности с прямоугольным сечением
    .certificates__item
      a(href="#").certificate
        +icon('ico-file')
        span.certificate__title.title.title_xs.orange
          |C24 Attestation of Quality of Production Control
        span.certificate__description.gray
          |Strength graded structural timber with rectangular cross section



// END certificates
