// BEGIN footer

.footer
  .container
    .footer__top
      ul.footer__menu
        li: a(href="#products").js-anchor Продукция
        li: a(href="#map").js-anchor Карта поставок
        li: a(href="#history").js-anchor О компании
        li: a(href="#") Прайс
        li: a(href="#" data-modal="#modal-docs").js-modal-open Лесная сертификация
      ul.footer__contacts
        li: a(href="tel:3422564020") (342) 256-40-20
        li: a(href="mailto:sales@ro1910.ru") sales@ro1910.ru
    
    .footer__bottom
      ul.footer__info.sftext
        li ©2017 «Красный октябрь»
        li: button(data-modal="#modal-confidential").js-modal-open Политика конфиденциальности
        li: a(href="#") English version
      a(href="http://умный-маркетинг.рф/" target="_blank").developer.footer__developer
        +icon('ico-developer')
        
        
    
  
        
// END footer
      
