//BEGIN header

include _menu-fixed

.header
  
  .header__video
    video(autoplay loop muted class="bgvideo" id="bgvideo")
      source(src="video/video.mp4" type="video/mp4")
  
  .menu.header__menu
    .container.menu__container
      .menu__sm-left.hidden-md.hidden-lg
        a(href="#").title.menu__sm-phone (342) 256-40-20
      .menu__sm-right.hidden-md.hidden-lg
        span.language-status Rus
        button.sm-menu-btn.js-modal-open(data-modal="#modal-menu"): +icon("ico-menu")
      .menu__left.hidden-sm.hidden-xs        
        ul.language
          li: button.text.active Rus
          li: button.text Eng
      ul.menu__right.hidden-sm.hidden-xs        
        li: a(href="#").title.title_sm
          +icon('ico-download')
          | Прайс
        li: button(data-modal="#modal-order").js-modal-open.title.title_sm Заявка
        li: a(href="#").title.title_sm (342) 256-40-20
            
  .container.container-thin.header__main
    
    .header__main-content
    
      div
        .header__title.title.title_xxl  Красный октябрь
        .header__subtitle.title.title_xxmd
          |Деревообрабатывающий завод полного цикла: 
          |заготавливаем, транспортируем и обрабатываем
          |лес без посредников
        ul.header__links
          li: a(href="#products").link.link_white.title.title_xmd.js-anchor: span.link__text Продукция
          li: a(href="#map").link.link_white.title.title_xmd.js-anchor: span.link__text Карта <span class="hidden-sm">поставок</span>
          li: a(href="#history").link.link_white.title.title_xmd.js-anchor: span.link__text О Компании
          
      .header__play-wrap
        a(href="#").header__play.link.link_white.title.title_xmd
          +icon('ico-play')
          span.link__text Смотреть<br> видеопрезентацию
        div.header__play-description.text О заводе и технологиях
        
//END header
      
    
