// BEGIN history


.history#history
  .container.container-thin
    .title.title_lg История компании
  .container.container-thin.history__pagination-container
    .history__pagination.js-pagination#pagintaion-2
      ul
        li: button(data-direction="index" data-index="0").title.title_sm.link.js-carousel-btn: span.link__text 1910
        li: button(data-direction="index" data-index="1").title.title_sm.link.js-carousel-btn: span.link__text 1960-1970
        li: button(data-direction="index" data-index="2").title.title_sm.link.js-carousel-btn: span.link__text 2000
        li: button(data-direction="index" data-index="3").title.title_sm.link.js-carousel-btn: span.link__text 2003
        li: button(data-direction="index" data-index="4").title.title_sm.link.js-carousel-btn: span.link__text 2005
        li: button(data-direction="index" data-index="5").title.title_sm.link.js-carousel-btn: span.link__text 2006
        li: button(data-direction="index" data-index="6").title.title_sm.link.js-carousel-btn: span.link__text 2009
        li: button(data-direction="index" data-index="7").title.title_sm.link.js-carousel-btn: span.link__text 2010
        li: button(data-direction="index" data-index="8").title.title_sm.link.js-carousel-btn.active: span.link__text 2012
        li: button(data-direction="index" data-index="9").title.title_sm.link.js-carousel-btn: span.link__text 2017
      ul.history__future
        li: button(data-direction="index" data-index="10").title.title_sm.link.js-carousel-btn: span.link__text 2018
        li: button(data-direction="index" data-index="11").title.title_sm.link.js-carousel-btn: span.link__text 2020
  .container.container-thin
    .history__slider-container      
      .history-slider.carousel.carousel_zoom-effect.js-carousel(data-pagination="#pagintaion-2")
        .carousel-arrows
          button.js-carousel-btn.prev(data-direction="prev"): +icon('ico-slide-prev')
          button.js-carousel-btn.next(data-direction="next"): +icon('ico-slide-next')
        .carousel__slides
          - var years = ["1910", "1960-1970", "2000", "2003", "2005", "2006", "2009", "2010", "2012", "2017", "2018", "2020"] 
          each year in years
            .carousel__slide
              .history-slide
                
                .history-slide__wrap
                  .history-slide__text
                    .history-slide__year=year
                    .text.gray
                      p Проект развития предприятия включен в перечень приоритетных инвестиционных проектов в области освоения лесов РФ.
                      p Запущены два лесозаготовительных комплекса KOMATSU Forest (Швеция).
                      p Создано собственное лесозаготовительное предприятие. 
                      p Введена в эксплуатацию вторая очередь котельной на базе водогрейного котла «Комконт» (Беларусь) мощностью 5 МВт.
                  .history-slide__img.img-fill
                    img(src="img/history.jpg")


// END history
