// BEGIN INACCURACY

.inaccuracy
  .container.container-thin
    .title.title_xxl Минимальные<br> отклонения
    .text.text_lg.inaccuracy__text
      |Мы точно знаем, сколько сырья можем заготовить и 
      |доставить на завод, поэтому называем реальные сроки
      |поставки для клиентов. Соблюдаем технический регламент
      |обслуживания станков и профессионально готовим режущий инструмент.
      
      ul.inaccuracy__list.markered-list.text.text_lg
        li свой лес,
        li своя техника,
        li своя логистика,
        li точность на каждом этапе производства.
    .inaccuracy__btn-wrap
      button(data-modal="#modal-presentation").inaccuracy__presentation.link.link_white.title.title_lg.js-modal-open
        +icon('ico-arrow')
        span.link__text Смотреть<br> презентацию
        
        
// END INACCURACY
