include _mixins
doctype html
html(lang="ru")
  head
    include _head
  body
    .page
      include _header
      .page__content

        block content
        
      include _footer
    include _modals  
    script(src="js/vendor.js")
    script(src="js/app.js")
