// BEGIN MAP

.map#map
  .container.container-thin.map__container    
    .map__title.title.title_lg
      | Наша продукция экспортируется в 30 стран на 3 континентах
    .map__text.text.gray
      p Отправляем с завода готовый пиломатериал автомобильным, железнодорожным, речным транспортом.
      p Специалист коммерческого отдела поможет выбрать наиболее выгодный и удобный способ отправки в любую точку мира.
    .map__picture: include ../../icons/map.svg
    .map__countries
      .title.title_sm Доли поставок<br> в 1–2 квартале 2017
      ul.countries-list.map__countries-list.gray.text.text_sm
        li
          span.marker 
          | Россия — 15000м<sup>3</sup>
        li
          span.marker.marker_8000
          | Бенилюкс — 8000м<sup>3</sup>
        li
          span.marker.marker_6000
          | Германия — 6000м<sup>3</sup>
        li
          span.marker.marker_5500
          | СНГ — 5500м<sup>3</sup>      
        li
          span.marker.marker_5500
          | Прибалтика — 5500м<sup>3</sup>
        li
          span.marker.marker_5500
          | Ближний Восток — 5500м<sup>3</sup>
        li
          span.marker.marker_5000
          | Китай — 5000м<sup>3</sup>
        li
          span.marker.marker_2500
          | Индия — 2500м<sup>3</sup>
        li
          span.marker.marker_500
          | ЮВА — 500м<sup>3</sup>
        li
          span.marker.marker_500
          | Сев. Африка — 500м<sup>3</sup>
        li
          span.marker.marker_500
          | Остальные — 10 000м<sup>3</sup>
      

// END MAP
