.menu-fixed
  .menu
    .container.menu__container
      .menu__left
        a(href="").title.title_xmd.red  Красный октябрь
        ul.menu__links
          li: a(href="#products").js-anchor Продукция  
          li: a(href="#map").js-anchor Карта поставок
          li: a(href="#history").js-anchor О компании  
      ul.menu__right
        li: a(href="#").red.title.title_sm
          +icon('ico-download')
          | Прайс
        li: button(data-modal="#modal-order").js-modal-open.red.title.title_sm Заявка
        li: a(href="#").title.title_sm (342) 256-40-20
        
      
