// BEGIN products


.products#products
  .container.container-thin
    
    .products__header
      .title.title_xmd.products__title.lightgray Продукция
      .text.text_lg.gray По всему миру поставляем обрезной пиломатериал камерной сушки. Для любых целей, с точным соответствием ГОСТ.
  
    
    ul.products__pagination.js-pagination#pagination-1
      li
        button(data-direction="index" data-index="0" data-modal="#modal-products").link.js-carousel-btn.js-modal-open.active
          span.link__sm-text Деревообработка
          span.link__text.title.title_md Cорт US-IV 
      li
        button(data-direction="index" data-index="1" data-modal="#modal-products").link.js-carousel-btn.js-modal-open
          span.link__sm-text Cтроительство
          span.link__text.title.title_md Cорт 5
      li
        button(data-direction="index" data-index="2" data-modal="#modal-products").link.js-carousel-btn.js-modal-open
          span.link__sm-text Черновые работы
          span.link__text.title.title_md Cорт 3–4
      li
        button(data-direction="index" data-index="3" data-modal="#modal-products").link.js-carousel-btn.js-modal-open
          span.link__sm-text Хозяйственные нужды
          span.link__text.title.title_md Cорт 4 обычный
      li
        button(data-direction="index" data-index="4" data-modal="#modal-products").link.js-carousel-btn.js-modal-open
          span.link__sm-text.hidden-md Сопутствующая продукция
          span.link__text.title.title_md <span class="hidden-md">Другие материалы</span><span class="hidden-xs hidden-sm hidden-lg">Eще</span>
      li.last
        button(data-direction="index" data-index="5" data-modal="#modal-products").link.js-carousel-btn.js-modal-open
          span.link__text.title.title_md.hidden-md Сравнение <span class="hidden-lg">сортов</span>
          span.hidden-xs.hidden-sm.hidden-lg: +icon('ico-compare')
      
        
    .modal.modal_sm.modal_products#modal-products
      button.modal-close.js-modal-close 
      .products__slider.carousel.js-carousel(data-pagination="#pagination-1")
        .carousel-arrows
          button.js-carousel-btn.prev(data-direction="prev"): +icon('ico-slide-prev')
          button.js-carousel-btn.next(data-direction="next"): +icon('ico-slide-next')
        .carousel__slides
          -var sorts = ["Cорт US-IV","Cорт 5","Cорт 3–4","Cорт 4 обычный"];
          -var pagintaions = ["pagination-1-1", "pagination-1-2", "pagination-1-3", "pagination-1-4"];
          -var i=-1;
          for sort in sorts
            - i++;
            .carousel__slide
              .product-slide
                  .product-slide__top
                    .product-slide__left
                      .product-slide__title.title.title_xxl= sort
                      .product-slide__subtitle.title.title_xmd Доска для деревообработки
                      .product-slide__text.text.text_lg.gray
                        p ГОСТ 26002-83, камерная сушка.
                        p Сухая безобзольная доска является исходным сырьем для производства продуктов глубокой переработки древесины.
                        p: a(href="" data-direction="index" data-index="5").link.js-carousel-btn: span.link__text Сравнить с другими сортами
                      .product-slide__order
                        a(href="#").link.link_order
                          .link__text.title.title_lg Заказать
                    .product-slide__right
                      .product-slide__photos.carousel.js-carousel.carousel_fade-effect(data-pagination="#"+pagintaions[i] data-autoplay="4000")
                        ul.slideshow-pagination.js-pagination(id=pagintaions[i])
                          li: span(data-direction="index" data-index="0").js-carousel-btn.slideshow-link: span.slideshow-link__line
                          li: span(data-direction="index" data-index="1").js-carousel-btn.slideshow-link: span.slideshow-link__line
                          li: span(data-direction="index" data-index="2").js-carousel-btn.slideshow-link: span.slideshow-link__line
                          li: span(data-direction="index" data-index="3").js-carousel-btn.slideshow-link: span.slideshow-link__line
                        .carousel__slides
                          .carousel__slide
                            .slide.img-fill: img(src="img/product.jpg")
                          .carousel__slide
                            .slide.img-fill: img(src="img/product.jpg")
                          .carousel__slide
                            .slide.img-fill: img(src="img/product.jpg")
                          .carousel__slide
                            .slide.img-fill: img(src="img/product.jpg")


                  
          .carousel__slide 
            .other-materials
              .title.title_md.other-materials__title Для приобретения сопутствующей продукции обращайтесь в отдел продаж
              .title.title_xl.other-materials__contacts (342) 256-40-20, доб. 197
              .text.other-materials__text.gray
                  | Михаил Пчелинцев, руководитель подразделения закупки и продажи<br>
                  a(href="#").orange pchelintsev@ro1910.ru
              ul.other-materials__list
                -var n=0;
                while n<4
                  -n++;
                  li
                    .material  
                      .title.title_md Опил
                      .material__img: img(src="img/material-1.jpg")
          .carousel__slide   
            .compare
              .title.title_lg Сравнение сортов
              .compare__measures.measures.gray
                .measures__column
                  .measures__item
                    span.measure: span
                    span.text.text_sm порок не допускается
                  .measures__item
                    span.measure.measure_1: span
                    span.text.text_sm незначительное количество
                .measures__column
                  .measures__item
                    span.measure.measure_2: span
                    span.text.text_sm допускается с ограничениями
                  .measures__item
                    span.measure.measure_3: span
                    span.text.text_sm допускается без ограничений
              .compare__table-wrap
                table.compare__table.compare-table(cellspacing="0")
                  tr
                    td Наведите на шкалу, чтобы увидеть подробности
                    td: .title.title_md Cорт US-IV
                    td: .title.title_md Cорт 5
                    td: .title.title_md Cорт 3–4
                    td: .title.title_md Cорт 4 <span class="hidden-md hidden-sm hidden-xs">обычный</span>
                  -var params = ["Синева, заболонные окраски","Твердая гниль", "Покоробленность","Тупой обзол", "Острый обзол","Выпадающие сучки","Гнилые сучки","Сучки здоровые сросшиеся", "Сучки здоровые с корой","Трещины сквозные","Червоточина","Смоляные кармашки","Мягкая гниль"];  
                  for param in params
                    tr
                      td= param
                      td
                        .tt
                          .tt__measure: span.measure: span
                          .tt__container
                            .tt__content
                              .title.title_xs Сорт 5 — Тупой обзол
                              .text 
                                | Допускается 2-х сторонний  длиной 30% длины п/м, 
                                | односторонний – длиной 40% длины. Ширина обзола 
                                | до 17 мм, пропил по кромке
                      td
                        .tt
                          .tt__measure: span.measure: span
                          .tt__container
                            .tt__content
                              .title.title_xs Сорт 5 — Тупой обзол
                              .text 
                                | Допускается 2-х сторонний  длиной 30% длины п/м, 
                                | односторонний – длиной 40% длины. Ширина обзола 
                                | до 17 мм, пропил по кромке 4/5 толщины
                      td
                        .tt.tt_center
                          .tt__measure: span.measure: span
                          .tt__container
                            .tt__content
                              .title.title_xs Сорт 5 — Тупой обзол
                              .text 
                                | Допускается 2-х сторонний  длиной 30% длины п/м, 
                                | односторонний – длиной 40% длины. Ширина обзола 
                                | до 17 мм, пропил по кромке 4/5 толщины
                      td
                        .tt.tt_right
                          .tt__measure: span.measure: span
                          .tt__container
                            .tt__content
                              .title.title_xs Сорт 5 — Тупой обзол
                              .text 
                                | Допускается 2-х сторонний  длиной 30% длины п/м, 
                                | односторонний – длиной 40% длины. Ширина обзола 
                                | до 17 мм, пропил по кромке 4/5 толщины
                                
    .products__footer
      .products__footer-left
        button(data-modal="#modal-sizes").sizes-image.js-modal-open
          img(src="img/board.jpg").sizes-image__img
          +icon("ico-sizes")
          .title.title_md.sizes-image__width Ширина 100–250мм
          .title.title_md.sizes-image__height Толщина<br> 22–63 мм
      .products__footer-right
        .title.title_lg
          |Основные длины любой доски — 4 и 6 метров. Широкий диапазон размеров.
        .products__footer-link
          button(data-modal="#modal-sizes").link.title.title_xmd.js-modal-open: span.link__text Открыть таблицу размеров  
      
               
              


// END products
