// BEGIN production-process


.production-process
  .container.container-thin.production-process__container
    .production-process__right
      .title.title_lg.production-process__title
        | Каждый месяц<br>
        | Производим <div class="visible-sm-block hidden-xs"></div> 10 000 м<sup>3</sup><br>
        | пиломатериалов<br>
        | камерной сушки
    .production-process__left.text.text_lg.gray      
      p «Красный Октябрь» — завод по производству пиломатериалов со столетней историей.
      p В 2000 году предприятие привлекло зарубежные инвестиции и с тех пор нацелено на интенсивное развитие и соответствие международным стандартам лесозаготовки и деревообработки. 
      p К 2017 году полностью обновлена производственная цепочка, установлено современное оборудование для лесозаготовки и первичной переработки древесины.


// END production-process
