// BEGIN workers

.workers
  .container.container-thin
    .workers__list.js-workers-slider
      - var n=0;
      while n<8
        - n++;
        .workers__item
          .worker
            .worker__photo.img-fill: img(src="img/worker.jpg")
            .worker__name.title.title_sm Александр Суслопаров 
            .worker__position.gray Генеральный директор ООО «Красный Октябрь»
            .worker__contacts.gray (342) 256-40-50, доб. 101
            .worker__email: a(href="#").orange susloparovav@ro1910.ru
        


// END workers
