// FONTS
@font-face
	font-family: 'SF Text'
	src: url('../fonts/SFText-Bold.eot')
	src: url('../fonts/SFText-Bold.eot?#iefix') format('embedded-opentype'),		url('../fonts/SFText-Bold.woff') format('woff'),		url('../fonts/SFText-Bold.ttf') format('truetype')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'SF Text'
	src: url('../fonts/SFText-Regular.eot')
	src: url('../fonts/SFText-Regular.eot?#iefix') format('embedded-opentype'),		url('../fonts/SFText-Regular.woff') format('woff'),		url('../fonts/SFText-Regular.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Harmonia Sans Pro Cyr'
	src: url('../fonts/HarmoniaSansProCyr-Regular.eot')
	src: url('../fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'),		url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'),		url('../fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Harmonia Sans Pro Cyr'
	src: url('../fonts/HarmoniaSansProCyr-Bold.eot')
	src: url('../fonts/HarmoniaSansProCyr-Bold.eot?#iefix') format('embedded-opentype'),		url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff'),		url('../fonts/HarmoniaSansProCyr-Bold.ttf') format('truetype')
	font-weight: bold
	font-style: normal
