*
  box-sizing: border-box
  outline: none
  line-height: 1.5em

br
  line-height: 0

a
  color: inherit
  text-decoration: none
  &:hover, &:focus
    color: inherit
    text-decoration: none

button
  cursor: pointer

ul
  list-style: none
  list-style-type: none
  margin: 0
  padding: 0


button
  background: transparent
  border: none
  box-shadow: none
  margin: 0
  padding: 0
  text-align: left

html
  font-size: 14px

body, html
  background: white
  color: $fontColor
  font-family: $fontSFText
  min-width: 320px
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


body
  position: relative
  font-size: 1.14rem
  overflow-x: hidden
  min-width: 320px
  &.modal-active
    overflow: hidden

  &:after
    display: none
    content: ''
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: rgba(255,255,255,.5)
    filter: blur(5%)


+r(1024)
  body
    &.sm-modal-active
      overflow: hidden

+r(320)
  body
    overflow-x: auto
