.ico-arrow {
  width: 1.15em;
  height: 1em;
  fill: #fd0302;
}
.ico-board {
  width: 2.28em;
  height: 1em;
  fill: initial;
}
.ico-compare {
  width: 1.79em;
  height: 1em;
  fill: initial;
}
.ico-developer {
  width: 11.08em;
  height: 1em;
  fill: #fff;
}
.ico-download {
  width: 0.83em;
  height: 1em;
  fill: initial;
}
.ico-file {
  width: 0.76em;
  height: 1em;
  fill: initial;
}
.ico-map {
  width: 1.23em;
  height: 1em;
  fill: initial;
}
.ico-menu {
  width: 1.75em;
  height: 1em;
  fill: initial;
}
.ico-order {
  width: 1.27em;
  height: 1em;
  fill: initial;
}
.ico-play {
  width: 0.99em;
  height: 1em;
  fill: #fd0302;
}
.ico-sizes {
  width: 3.75em;
  height: 1em;
  fill: initial;
}
.ico-slide-next {
  width: 2.31em;
  height: 1em;
  fill: initial;
}
.ico-slide-prev {
  width: 2.31em;
  height: 1em;
  fill: initial;
}
.ico-slideshow {
  width: 1.52em;
  height: 1em;
  fill: initial;
}
